[2014-09-14 04:47] epiil opened #10 "Broadcast range filter display inaccuracy on yuv422p input"
After a hunch I tested this using 100% bars and got the same problem. Legal broadcast range is 16-235, and values in the 16 range shouldn't be considered out of broadcast.

[2014-09-14 19:59] pjotrek-b opened #12 "With some videos, graph is drawn "rotated" by 90 degrees"
I've tried opening a video (MPEG-4 XviD, 624x352, 23.98fps, YUV 4:2:0), but the graph renders incorrectly. The graph looks as if it's drawn rotated by 90 degrees (see screenshot).

QCTools v0.5 (Ubuntu 12.04 package)
![qctools_0 5-graph_rotated](https://cloud.githubusercontent.com/assets/2419195/4265310/8f50edda-3c49-11e4-8627-811deff8e8a8.png)

Here is a video sample that causes this error:
http:

[2014-09-15 02:46] dericed opened #13 "Value Highlight filter mix and max selection range is one off"
If a sample is generated with y=14, then a value highlight range of 15-255 highlights it and a range of 0-14 doesn't. Expected behavior is that a 15-255 range should not highlight 14 while a 0-14 range should.

[2014-09-16 19:58] pjotrek-b opened #14 "Preferences: Directory for metadata cannot be edited"
In the preferences dialog, when selecting the 3rd option "Automatically save to a specific directory", the edit field for the path to use stays disabled/grayed out.

QCTools v0.5, Ubuntu 12.04 (64bit)

[2014-09-16 19:59] pjotrek-b opened #15 "Preferences: Choice is not stored and always returns to "Prompt""
In the preferences dialog, regardless of which option is selected, it always returns to "Prompt" after closing and re-opening the preferences dialog.

QCTools v0.5, Ubuntu 12.04 (64bit)

[2014-09-16 20:10] pjotrek-b opened #16 "QCTools crashes when importing *.qctools.xml.gz file"
I've loaded a 10 minute VHS FFV1/PCM AVI file, and exported the qctools.xml.gz.
When I try to import it back, QCTools immediately crashes.

QCTools v0.5, Ubuntu 12.04 (64bit)

[2014-09-16 20:12] pjotrek-b opened #17 "Wishlist: Automatically load/import qctools.xml(.gz) if one with same file as video exists"
In order to integrate QCTools in ingest workflows, it would be desirable if it would automatically load a correspond qctools.xml(.gz) file, if one with with same name as the videofile exists.

Excellent would be to have the option in preferences to enable/disable this auto-load feature.

Thanks for this great tool!

[2014-09-16 20:15] pjotrek-b opened #18 "Position of cursor in graph not updated, when moving in preview window"
In order to make it easier to analyze the video and correlate the visual information with the graph (=good to learn and get a better feeling how to "read the lines"), it would be great if the purple position cursor in the graph would synchronize it's position with the preview window.

The preview thumbnails at the bottom already do that.

[2014-09-16 20:18] pjotrek-b opened #19 "Wishlist: Option to force a certain zoom in the preview window"
Our QC experience in the last years has shown that it is very preferrable to _not_ scale the video, but force it to (a) to a fixed zoom level (100%, no scaling at all by default), and (b) the ability to change the aspect ratio of the preview, too.

In shotcut, this feature was kindly added upon our request and it turned out that the following options are sufficient:
- 100% (no zoom)
- 150%
- 200%

[2014-09-16 20:20] pjotrek-b opened #20 "Inconsistent user interface: frame prev/next is left/right in graph, but up/down in preview window"
I found it very confusing, that the keyboard shortcut for moving to the previous/next frame is inconsistent between the graph-window (left/right) and the preview-window (up/down).

Additionally, when holding the "Shift" or "Ctrl" key in the preview-window, it also moves frame-wize.

Is there a reason for this?

[2014-09-16 20:24] pjotrek-b opened #21 "Wishlist: Different frame/time stepsize when moving in video"
In order to conveniently and quickly move around in the video, our ingest operator has pointed out that it is desirable to have the ability to quickly jump faster than frame-wise.

For example, in Virtualdub, there are the following step sizes for movement:
- frame [left/right]
- 50 frames (=1 sec. PAL) [Shift left/right]
- 1 minute [Ctrl left/right]
- Previous/next I-frame
- Previous/next dropped

[2014-09-16 20:32] pjotrek-b opened #22 "Wishlist: Scroll with Ctrl + mouse-scrollwheel"
It would be great if one could zoom like in other applications, by holding Ctrl and using the mouse-scrollwheel.

[2014-09-16 20:35] pjotrek-b opened #23 "The white text in the graph is hard to read"
The white text next to the mouse cursor in the graph is very hard to read.

In our system, we have the position/value display at a fixed position in the UI. This works very well, too.
If keeping the text next to the mouse cursor, maybe increasing the fontsize/boldness might also improve readability?

[2014-09-16 20:37] pjotrek-b opened #24 "No minimize/maximize button on video preview window"
The size of the video preview window can only manually be edited by dragging its edges/corners. There is only a "close" button, but none for minimize/maximize.

Is that on purpose?

[2014-09-16 20:39] pjotrek-b opened #25 "Wishlist: Highlight corresponding line in video when using "line select filter""
It would be great to be able to select which line to show in the "line select" filter, directly from the video in the other pane.
I suppose that's non-trivial, so if possible it would already be easier to handle, if the chosen line could be highlighted in the other pane?

[2014-09-16 20:45] pjotrek-b opened #26 "Wishlist: Reset button for filter parameters"
It is great that the filters remember their settings/parameters, but it would therefore be great to have some way of resetting the values to their default. Per filter, if possible.

[2014-09-16 20:51] #15 closed, assigned to nobody

[2014-09-16 21:02] pjotrek-b opened #27 "ffprobe commandline in "Data Format" help: wrong xml filename?"
The commandline example for using ffprobe to generate the XML has a different naming syntax than the qctools application:

EXAMPLE.mov
EXAMPLE.qctools.gz

Shouldn't it be:
EXAMPLE.mov.qctools.gz ?

[2014-09-16 21:12] pjotrek-b opened #28 "add threading support to signalstats filter"
I've noticed that when loading a FFV1 file, my CPU cores are not fully used.
It looks though as if at least 2 cores (or 1 core+HT) was used, so it seems to using more than one thread already?

[2014-09-16 21:24] pjotrek-b opened #29 "Wishlist: Vertical zoom in graph"
In our current analysis tool (shotdetect), the graphs resolution is fixed.
We first thought of this as a downside, but it has a positive effect for getting a better feeling when reading the graph:
Since the height of the graph's peaks does _not_ scale, the operator gets a feeling for the "severity" of a peak, as well as some "artefacts" issue only very small peaks in some graphs, which is also a v

[2014-09-16 21:30] pjotrek-b opened #30 "Wishlist: Keyboard shortcut for "View > Go to frame at position...""
For review of an operator's notes during QC, quickly jumping to a frame position is often used in our workflow. It might be useful if QCTools had a keyboard shortcut (not only menu option) to jump to a certain frame.

In Virtualdub it's "Ctrl+G".

[2014-09-17 21:52] michaelangeletti opened #32 "List view doesn't populate some metadata columns"
In the list view, the columns for audio ‘Sample format’, ‘Channel layout’ and ‘Bit depth’ aren’t populated after file analysis finishes.

[2014-09-17 22:09] michaelangeletti opened #33 "Real-time playback in video analysis window?"
It appears as though video playback at 1x in the video analysis window is considerably slower than the native fps of the file (i.e. 29.97). I don’t recall mention of real-time playback limitations in the documentation, but I'm also not convinced many users would desire/require full speed playback. In case it is relevant, test file metadata is below.

----

<?xml version="1.0" encoding="UTF-8"?>
<M

[2014-09-18 22:19] michaelangeletti opened #34 "Grabbing the application window"
In moving/dragging the QCTools application window, it only works for me if the window is grabbed in the vertical height area of the ‘QCTools’ text across the top of the window. If I try grabbing the window directly above the text ‘Processed’ (in list view), for example, it doesn’t work.

[2014-09-19 15:44] epiil opened #35 "Wishlist: Keyboard shortcuts to move between main timeline and power/filter window"
One persnickety point about the UX is that (other than using Command + ~), one can't seamlessly move between the timeline and power/filter window. It seems intuitive to have the power/filter window pushed to the forefront of the screen when a user clicks on a thumbnail in the timeline. This happens the _first_ time the power/filter window is opened, but never again.

Related to this request, here'

[2014-09-21 22:17] mhusinsky opened #36 "yuvj: waveform monitor vs. graph display"
i have a h.264 file from a canon 70d (in fullrange luma) here that produces contradictory output in the graph display and the waveform monitor. while the graph display shows the YMIN/YMAX limits at 16/235, the waveform monitor is maxed out with Y-values outside broadcast range.

is this intended to be like that?

![waveform](https://cloud.githubusercontent.com/assets/3253299/4350217/ca324820-41dc-

[2014-09-22 13:49] #27 closed, assigned to dlandes

[2014-09-28 14:11] #12 closed, assigned to JeromeMartinez

[2014-09-28 14:39] #36 closed, assigned to JeromeMartinez

[2014-09-28 15:00] #17 closed, assigned to nobody

[2014-09-28 16:37] #18 closed, assigned to JeromeMartinez

[2014-09-28 17:53] #24 closed, assigned to JeromeMartinez

[2014-09-30 15:23] acdha opened #37 "Making ffmpeg decoding report accessible to user (was: provide option for decoding hard timeout (was: Reporting gross decode failures))"
http://chris.improbable.org/experiments/browser/video/waters_of_destiny.mp4 is malformed. It plays back despite this using the native Windows or OS X APIs but most other software chokes (see http://chris.improbable.org/experiments/browser/video/waters_of_destiny.html).

I was hoping that QCTools could be used to reliably catch problems like this as early as possible in the process. When processing

[2014-10-01 04:04] #13 closed, assigned to dericed

[2014-10-04 15:46] #10 closed, assigned to dericed

[2014-10-04 16:39] #25 closed, assigned to dericed

[2014-10-08 20:16] #20 closed, assigned to JeromeMartinez

[2014-10-08 20:29] #30 closed, assigned to JeromeMartinez

[2014-10-08 23:35] pjotrek-b opened #39 "When clicking the "zoom in" button an insane number of times, qctools crashes"
I'm sorry, but for the sake of completeness I felt compelled to try it:
I pressed the "zoom in" button beyond any reasonable zoom level - and continued.

After a few seconds, qctools froze - and then crashed.
QCTools 0.6.0-1 (Xubuntu 12.04 amd64)

If I could tag issues, I'd assign this one to "nice to know" :)

[2014-10-09 05:36] #16 closed, assigned to JeromeMartinez

[2014-10-09 07:05] #39 closed, assigned to nobody

[2014-10-15 15:25] wthurlow opened #40 "QCtools crashes when I pull in Mp4s"
Hello!

I am running QCtools 6.0 on my Macbook Pro and every time I pull an mp4 in QCtools crashes.  .mov files work fine...  Any ideas?

![screen shot 2014-10-15 at 10 22 05 am](https://cloud.githubusercontent.com/assets/9001033/4648069/5f244f00-547f-11e4-9326-e225c52a49c4.png)

Thanks!

[2014-10-21 13:55] #40 closed, assigned to JeromeMartinez

[2014-10-25 19:23] pjotrek-b opened #41 "Zooming in with more than the default graphs, shifts display offset"
I've opened a 10-minute file with a pre-saved .xml.gz.
Then I've enabled e.g. MSEf and zoomed in: The MSEf position where the graph is drawn was shifted to the left by a few pixels.

I've tried again with all filters enabled to see if any others are affected: Yes, they are! :(
![qctools_0 6-graph_shifted](https://cloud.githubusercontent.com/assets/2419195/4780872/41c168b2-5c7c-11e4-9072-3989f1730c

[2014-10-25 19:29] pjotrek-b opened #42 "Wishlist: Graph presets for different source media types"
Different source media show different artefacts by having different abnormalities in different graphs.
For example, Digibeta dropouts can be seen in the BRNG graph, whereas that graph is quite irrelevant for other sources.

Therefore, if one could define presets which graphs to display/hide, it would make it very easy and inuitive for (especially new) users, getting the information needed to do th

[2014-10-25 19:31] pjotrek-b opened #43 "Wishlist: Open QCTools with commandline arguments which graphs to render"
In order to integrate QCTools in semi-automated workflows, it would be great to have the ability to start it with a pre-selection of which graphs to display.

This would be very helpful to start QCTools with already the right graphs for the analysed source media type. Additionally to being able to tell which graphs to open by commandline, doing so by starting it with a graph-preset (see issue #42)

[2014-10-25 19:54] pjotrek-b opened #44 "Wishlist: Re-arrange graph order"
Some artefacts are easier to find if certain graphs are displayed directly below each other.
For example, one might want TOUT in correlation with cuts (=Diffs) to find VHS errors.
Or Diffs and MSEF to find unclean cuts (field instead of frame).

If the user could drag/drop a graph to reposition it, one could arrange the graphs for best viewability per source media type.

[2014-10-25 20:00] pjotrek-b opened #45 "Cosmetics: Left-align graph labels, instead of centering them"
Currently, the labels which data is displayed in a graph are center-aligned. When displaying multiple (e.g. all) graphs, the right side of the GUI window seems shuffled and chaotic.

It might be better to left-align them instead?

See screenshot:
![qctools_0 6-graph_shifted](https://cloud.githubusercontent.com/assets/2419195/4780958/aa5b2958-5c81-11e4-9845-efb344b9d17a.png)

[2014-10-25 20:13] pjotrek-b opened #46 "Y-scale label values disappear when zooming"
Steps to reproduce:
1) Open QCTools
2) Load a video file with pre-saved .xml.gz data file
The graphs now have proper Y-scale value labels on the left side
3) Zoom in
Even when you zoom back out now, the scale is only labeled at 0. All other numbers are gone.

Screenshots:

1) Normal behavior: Y-scale properly labeled:
![qctools_0 6-graph_values_ok](https://cloud.githubusercontent.com/assets/241919

[2014-10-25 20:20] pjotrek-b opened #47 "Document export options such as "To .qctools.xml.gz" and "To sidecar .qctools.xml.gz"?"
I've tried both export options:
1) "To sidecar .qctools.xml.gz"
2) "To sidecar .qctools.xml.gz (All files)"

I don't see any difference between the generated files. Both only contain the .qctools.xml.

Unfortunately, there's no search in the help dialog and I couldn't find what "sidecar" actually meant.
However, I think to remember from TATE/London, that a sidecar file should contain more than jus

[2014-10-26 17:48] pjotrek-b opened #48 "Performance: Playback not as smooth as it could be"
Nagging as I am, I wanted to note that the playback performance of the filter window is not as good as the hardware would allow. Especially visible with FFV1.

For example, on a computer which is perfectly capable of playing back FFV1 SD-material with other applications (VLC, ffplay, shotcut, kdenlive, etc), QCTools plays slower than realtime.

[2014-10-26 22:10] pjotrek-b opened #49 "Wishlist: Disable Export until data gathering is finished"
I've just noticed that one can export the qctools.xml data already while the data for the graph is still being gathered.

The resulting .xml.gz only contains the fraction gathered until then, and therefore when re-opening the videofile later on, the timeline in the graph window only refers to the short fraction, whereas the timeline in the previous window refers to the full length, but one can onl

[2014-10-26 22:14] pjotrek-b opened #50 "Wishlist: Option to force a "1-pixel=1-frame" horizontal zoom for graph"
Analogue material errors often manifest themselves in a single field/frame.
If 1 horizontal pixel refers to exactly 1 frame, an operator can visually distinguish between peaks whether they are 1 pixel width or more (even very small ones, like 3-4 pixels height).

This visual clue is lost, when the zoom level is "too relative" to the duration of the analyzed video. Especially, since in a close-up z

[2014-10-26 22:34] pjotrek-b opened #51 "Vertical waveform has field order reversed / non-intuitive"
It seems that the order in which the fields are represented in a field-split waveform when in vertical mode, is reversed.

In horizontal (default) mode it's:
- **first = top**
- second = bottom

Which correlates perfectly with how the normal video is shown with field-split.

When enabling the "vertical" option for the Waveform filter, it's the other way around:
- **first = bottom**
- second = top

[2014-11-03 18:20] ablwr opened #53 "UX: Capture view"
With budget and time constraints in consideration, I submit this “Minimum Viable Product” for the image capture component of QCTools. Here are two options. One of them retains all the qualities of the filter playback so users don’t have to think about a new set, and one of them is more similar to other capture software (Final Cut Pro, etc). The recording feature can run until manually stopped or u

[2014-11-03 18:21] ablwr opened #54 "UX: Boolean view"
Moving to a boolean-based view as the first/default view would go a long way in making QCTools easier to use for amateur users. A boolean view would require a range to be set that is considered “normal” for the assessment and trigger a block of red if the video at any time goes beyond that threshold.

To satisfy advanced users, I propose the ability to click on a boolean field to expand into a gra

[2014-11-03 18:22] ablwr opened #55 "UX: Ability to toggle mini-display"
I suggest replacing the current image playback that runs across the bottom of the screen with a small window that can be open or closed based on the user’s preferences. This is helpful to users that are using QCTools on a small screen but still want to see a thumbnail-sized video playback without having to give up too much screen real estate. Users with larger screens or multiple screens can acces

[2014-11-03 18:24] ablwr opened #56 "UX: Capture tab icon"
An icon needed for when video capture feature is implemented.

[2014-11-03 18:27] ablwr opened #57 "UX: Graticule: Waveform"
TODO: graticule for waveform.

[2014-11-03 18:27] ablwr opened #58 "UX: Graticule: Vectorgraph"
TODO: Graticule for vectorgraph filter view

[2014-11-12 02:19] #51 closed, assigned to dlandes

[2014-11-12 13:13] #47 closed, assigned to dlandes

[2014-11-13 18:40] epiil opened #59 "Vectorscope / image values change with window size adjustment"
Here's an odd one. Vectorscope (in split field mode) will change certain values (mostly the transients) when the power window is re-sized. These values also change when brightness is increased/decreased. I'm attaching three screen shots, all on the same frame, in various window sizes. You're looking for the change in values on the lower field on the vectorscope.

![screen shot 2014-11-12 at 10 59

[2014-11-13 22:56] epiil opened #60 "Wishlist: setting IN and OUT playback points, looping in power/filter window"
Simple keyboard shortcuts for setting IN and OUT points for playback within a given timeline, as well as an overall "looping" option.

[2014-11-14 06:19] #59 closed, assigned to nobody

[2014-11-17 12:00] #45 closed, assigned to JeromeMartinez

[2014-11-17 12:00] #46 closed, assigned to JeromeMartinez

[2014-11-25 03:34] #28 closed, assigned to dericed

[2014-11-26 11:32] #23 closed, assigned to JeromeMartinez

[2014-11-29 15:11] mstv1 opened #63 "QC Tools Crashes"
Running version .5 and .6 on macbook pro with 10.6.8 , app crashes. Running .4 runs OK

maurice

Process:         QCTools [463]
Path:            /Volumes/QCTools/QCTools.app/Contents/MacOS/QCTools
Identifier:      net.mediaarea.QCTools
Version:         ??? (???)
Code Type:       X86-64 (Native)
Parent Process:  launchd [99]

Date/Time:       2014-11-29 10:10:10.968 -0500
OS Version:      Mac OS X

[2015-01-07 11:50] pjotrek-b commented on #28
Sounds great!
Which qctools build includes this change, so I could test it too?

[2015-01-07 12:43] JeromeMartinez commented on #28
you can test with FFmpeg 2.5.2.
I'll provide soon a beta version of QCTools 0.7 which includes the new FFmpeg version.

[2015-01-11 20:58] pjotrek-b commented on #28
I just ran the XML-generating commandline, using ffprobe from git-HEAD.
Definitely faster now, and my CPU graph shows it's multithreading.

It's not using my CPU (i7 QuadCore) to the fullest though, but it's still way better than before.
Thank you very much! :)

[2015-01-27 15:10] dericed commented on #56
@ablwr So far this is only a menu bar option, but yes we could use a icon for the toolbar if you can make one.

[2015-01-27 22:44] dericed commented on #32
I added audio channel layout and bit depth with c541b90ed3f98dbb58138a57b2abc43fff2e6ee6 and 70461dfa19a0032a1c664c475875021be88c1faa. I worked on sample format but am hesitant to use it (see 1429ec6b6525918a854445d919ba06e8aba6efca); for instance for a pcm_s24le it would provide 'signed 32 bit' as the sample format.

I also added more fields on frame rate and color info.

[2015-01-27 22:44] #32 closed

[2015-01-28 00:41] ablwr commented on #56
![capture_layout](https://cloud.githubusercontent.com/assets/3260492/5930352/6b443bc2-a65c-11e4-86db-12f31e92295d.png)

[2015-01-28 01:27] #56 closed

[2015-01-28 15:14] JeromeMartinez commented on #63
Next release will be OK with Mac OS X 10.6 (I tested on my own machine, OK now)

[2015-01-28 15:14] #63 closed

[2015-02-05 20:00] awilkens opened #65 "Playback filters"
I'm using 0.6.2 for Mac and I can't figure out where the playback filters are. The graph view has a video playback panel along the bottom. Just don't know how to change it to vectorscope, waveform, etc.

[2015-02-05 20:12] JeromeMartinez commented on #65
Click on the thumbnail in the center of the thumbnails panel.
There is maybe something to change on our side in order to have a more obvious access to the playback filters.

[2015-02-05 20:20] awilkens commented on #65
Thanks!

From: Jérôme Martinez <notifications@github.com<mailto:notifications@github.com>>
Reply-To: bavc/qctools <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, February 5, 2015 at 2:12 PM
To: bavc/qctools <qctools@noreply.github.com<mailto:qctools@noreply.github.com>>
Cc: Ann Wilkens <ann.wilkens@wpt.org<mailto:ann.wilkens@wpt.org>>
Subject: Re: [qctools] Playback filters

[2015-02-15 20:02] clacinak commented on #57
+1

[2015-02-15 20:02] clacinak commented on #58
+1

[2015-02-15 20:07] clacinak opened #66 "Flat, Luma and Chroma filters for Waveform Monitor"
It would be great to have a "flat" (no chrominance filter), "luma" and "chroma" filter options for the waveform display.

[2015-02-15 20:08] clacinak opened #67 "Wishlist: Color Mode for Waveform monitor"
See ScopeBox "Color" mode option for their waveform monitor, wherein it displays the gain values as the colors they are representing.

[2015-02-15 20:13] dericed commented on #67
can you provide a sample image?

[2015-02-15 20:13] dericed commented on #67
btw, latest devel build http://mediaarea.net/temp/QCTools_0.7.0beta8.dmg

[2015-02-15 20:15] rebschandler commented on #67
![screen shot 2015-02-15 at 3 14 24 pm](https://cloud.githubusercontent.com/assets/11020308/6204799/7998988a-b525-11e4-9cf0-ee9e89f02148.png)

[2015-02-15 20:19] clacinak commented on #67
The one improvement that would be good to have over the ScopeBox version is to have a stand-in color for black so it doesn't get lost in the background.

[2015-02-15 20:21] epiil commented on #66
I'm not sure if having a flat "filter" makes sense in the digital
environment of QCTools. IIRC, for analog video signals the flat filter
would be used in the context of viewing unmodulated RF, eg., the "RF
envelope". The lowpass filter would be used for viewing luminance as an
expression of IRE values.

On Sun, Feb 15, 2015 at 3:07 PM, clacinak <notifications@github.com> wrote:

[2015-02-15 20:21] dericed commented on #67
like this: https://www.youtube.com/watch?v=uuI9oMuFIMA

[2015-02-15 20:25] dericed commented on #67
i think i understand the request better now from the image you provided. This can be done with the vectorscope but would require a patch to the histogram filter in ffmpeg to do this.
At the moment (if this is helpful), could add a hue selector to the waveform, so you can see the waveform of a particular hue range, so you could make waveform of red, or orange, etc.

[2015-02-15 20:35] clacinak commented on #66
I would not say that a flat filter is critical, but it can certainly be helpful and is a feature that every other software-based waveform monitor offers. Pics from Premiere attached as an example. You'll find the same thing in FCP, ScopeBox and more.

![flat_bars_premiere](https://cloud.githubusercontent.com/assets/2552814/6204880/02c7d7fe-b528-11e4-87df-9f33384c8dc7.jpg)
![luma_bars_premiere](htt

[2015-02-15 20:53] epiil commented on #66
I see an advantage to having a flat filter (by definition an "unfiltered"
filter, btw) featuring both the luma and chroma characteristics on one
graph. In the context of QCTools this would allow a user to view both the
source picture in one window, and a graph containing luma and chroma
information in the other.

However, IMHO, monitoring chroma in this manner runs counterintuitive to a
vectorscop

[2015-02-15 21:19] clacinak commented on #66
"However, IMHO, monitoring chroma in this manner runs counterintuitive to a
vectorscope-measured approach"

I can see calling it redundant, but not counter-intuitive. They aren't in
opposition to each other in any way. It's all additive and helpful. As you
suggest, I think it probably comes down to personal preferences and how you
are use to working. I personally would like a flat filter. You ment

[2015-02-15 21:28] dericed commented on #66
Putting waveform and vectorscope in the same display is no problem. To make a 'flat' filter waveform, whether redundant or counter-intuitive, I'd need to better understand how to derive the information to plot from what is available. For instance in the waveform on the left edge it plots values at 9, 20, and 75. But then the flat filter plots every intermediate value between 0 and 40 at one level

[2015-02-16 03:37] #65 closed

[2015-02-17 01:43] dericed opened #68 "design record stop button"
Source/Resource/capture_stop.png
could use some work

[2015-02-17 01:44] ablwr commented on #68
Um, Jerome's work is not good enough?!?!

[2015-02-17 01:45] dericed commented on #68
could use the @ablwr treatment

[2015-02-17 01:48] epiil commented on #68
+1

On Mon, Feb 16, 2015 at 8:45 PM, Dave Rice <notifications@github.com> wrote:

[2015-02-17 01:59] ablwr commented on #68
https://github.com/bavc/qctools/commit/8bb9b4ed1ba69f77c028fa86e7c4d357fe6efac8

[2015-02-17 01:59] #68 closed

[2015-02-17 04:59] dericed commented on #66
55deb051edc43a9c673dc9e43fb1a8a7580c9d9a addresses @epiil idea for a "better wish list request"

[2015-02-23 19:15] iamdamosuzuki opened #69 "Application crashes with various file formats"
The following formats cause the application to crash immediately:

DV50 with .dv extension
H.264/MPEG-4 AVC with .mp4 extension
JPEG 2000 with .mxf extension.

The behavior is the same for all of these files, the application quits immediately after dragging in the file.

I am using FFmpeg 2.5.2 and OSX 10.8.5

[2015-02-23 19:16] dericed commented on #69
Which qctools version are you using? If lower than 0.7, can you retest with 0.7.

[2015-02-23 19:20] iamdamosuzuki commented on #69
0.6.2. I'll try again with 0.7

[2015-02-23 19:27] iamdamosuzuki commented on #69
All of these formats are working on 0.7. Thanks

[2015-02-23 19:27] dericed commented on #69
:-P

[2015-02-23 19:27] #69 closed

[2015-02-25 23:28] kellyhaydon opened #70 "QCTools crashing with quicktime caption tracks"
The previous incarnation of QCTools worked with our capture station that is locked into OSX 10.8.5, the new version crashes when I try to open a file. Can anything be done?

Kelly

[2015-02-25 23:36] JeromeMartinez commented on #70
Our goal is to support 10.6+.
I can not test it this week, but I'll certainly test it next week, and if I find an issue on my 10.6, I'll rebuild.

[2015-02-25 23:45] dericed commented on #70
I've been running on 10.8.5 with qctools 0.7. Can you run:
```ffmpeg -i yourfilehere.mov```
and report back on the output.

[2015-03-08 00:32] epiil opened #72 "Wishlist: 2-Field waveform display side-by-side"
Not top-to-bottom. Similar to the current histogram filter.

[2015-03-08 16:22] dericed commented on #72
We could do this but it would be statistically inferior. The video typically has 720 columns and the top/bottom split maintains a plot of all 720 columns of samples. A left/right would only plot 360 per field. On the y axis the waveform has 256 rows, a left/right display would stretch this by almost double. On both axis it seems to be a disadvantage. If I'm missing some reason why it would be pref

[2015-03-08 16:22] #72 closed

[2015-03-08 16:59] epiil commented on #72
I see the statistical vertical advantage now, thanks. The request was
basically to emulate a typical 2-field waveform view on a waveform monitor,
which is side-by-side with the vsync in the middle.

On Sun, Mar 8, 2015 at 12:22 PM, Dave Rice <notifications@github.com> wrote:

[2015-04-01 21:12] cmhosale opened #76 "Unable to open .avi in 0.7"
Hi,

I am new to Github and am not a programmer. I am an archivist and have been using QCTools at the University of Wisconsin-Milwaukee Archives to do internal QC on vendor digitized video. I recently attempted to move from 0.6.2 to QCTools 0.7 on a Windows 7 computer and discovered that the version will not open most .avi's. Nothing happens when you drag the file into the program. Also, when one

[2015-04-01 21:14] dericed commented on #76
Of the two suggestions it's most likely that 0.7 is bugged. Can you give us some technical information about your AVI file. For instance the output report from MediaInfo or ffmpeg.

[2015-04-01 21:16] cmhosale commented on #76
Hi! Here is the text from mediainfo:

General
Complete name                            : E:\37935_ARCW\Video_Tapes\avi\beginning_of_the_end_1992.avi
Format                                   : AVI
Format/Info                              : Audio Video Interleave
Format profile                           : OpenDML
File size                                : 17.3 GiB
Duration

[2015-04-02 13:10] JeromeMartinez commented on #76
I confirm the issue with some AVI files (looks like random)?

[2015-05-11 21:12] dericed commented on #70
fixed in https://github.com/bavc/qctools/commit/b16a0d27d06212237b41403b342545beb975fd1c

[2015-05-11 21:12] #70 closed

[2015-05-11 21:16] dericed commented on #34
fixed (by cheating and just disabling the unified toolbar) in https://github.com/bavc/qctools/commit/98b4c1b0474885feb3ccb3a900908ff43a951492. The draggability should now be more intuitive.

[2015-05-11 21:16] #34 closed

[2015-05-12 06:04] dericed commented on #66
Here are drafts: https://www.youtube.com/watch?v=EBqU31eZAUA or https://www.youtube.com/watch?v=rrrJETsmNHM.
The process is inferred by reverse engineering with the geq filter, bmdplay and an analog scope with a flat filter, but many parts of this need optimization and more RE.

[2015-05-12 15:35] epiil commented on #66
This filter makes much more sense now that QCTools has capture capability...

On Tue, May 12, 2015 at 2:04 AM, Dave Rice <notifications@github.com> wrote:

[2015-05-13 19:51] dericed commented on #67
@clacinak can you send an image of this with non-colorbar source

[2015-05-17 13:48] kieranjol opened #78 "Wishlist - Add option for audio QC on the graphs."
Are there any plans to have audio information plotted on a graph? There are waveforms and scopes in the playback filters but it would be really handy to be able to see possible anomalies on a graph on the main screen. Unless I'm missing something, the audio information provided by QC tools requires real time analysis via the playback filters.

Thanks,

Kieran.

[2015-05-17 13:53] dericed commented on #78
It's possible.  Currently there is metadata from ffmpeg's EBU R128 filter plotted. If I (or someone) finds time to work on https://trac.ffmpeg.org/ticket/4226 we could plot data from the astats filter. Any particular info that you're interested in?

[2015-05-17 14:06] kieranjol commented on #78
I should learn how to interpret the R128 graph as that would probably do the trick. I'm just looking to see if there's any major spikes in audio levels, so something similar to the waveform graph in a NLE would be nice. I know that I could just open the file in a NLE but it would be great to have it within qctools.

[2015-05-17 19:20] kellyhaydon opened #79 "Playback frame doesn't match thumbnail frame"
Heya...just noticed when you click on the thumbnail to open the player in 0.7.1, a different frame shows up. I attached a screen shot. This is an mp4, but had the same issue with 10 bit.

![qctools7 1_frameplaybackerror](https://cloud.githubusercontent.com/assets/9436241/7671683/b012dc08-fc8e-11e4-96bd-b7f45684e658.png)

Kelly

[2015-05-17 19:29] dericed commented on #78
The R128 graph gives an overall impression of loudness, but the way R128 represents volume intentionally ignores spikes (ie. a gunshot or quick explosion shouldn't affect the average volume as measured in this graph). With R.128 IIRC it plots one value per 0.4 seconds but an NLE could plot 48000 or 96000 or $samplerate values per second.

I see the value of having similar features of Audacity to e

[2015-05-17 19:50] kieranjol commented on #78
That all sounds great to me. Thanks, Dave!

[2015-05-17 20:19] dericed commented on #79
Can you run an:
[code]

and send the result.

[2015-05-17 23:49] kellyhaydon commented on #79
ffmpeg -i
/Users/kelly/Desktop/AVAA/BAVC1001734_Purgatory_access_field_error.mp4

ffmpeg version 2.5 Copyright (c) 2000-2014 the FFmpeg developers

  built on Dec 12 2014 15:06:13 with Apple LLVM version 6.0
(clang-600.0.56) (based on LLVM 3.5svn)

  configuration: --prefix=/usr/local/Cellar/ffmpeg/2.5 --enable-shared
--enable-pthreads --enable-gpl --enable-version3 --enable-hardcoded-tables
--ena

[2015-05-18 00:15] epiil commented on #79
With this file there's a mismatch in container/audio durations, which might
account for the shift. If you transcode the file to correct it, the frame
between the graph display and filter display match (see attached photo).

On Sun, May 17, 2015 at 7:49 PM, kellyhaydon <notifications@github.com>
wrote:

[2015-05-28 20:32] kieranjol opened #80 "Prores.mov with 8 audio tracks using up too much memory (60+gigs)"
Hello,

I've found that Prores quicktimes with 8 audio tracks can cause qctools to use up so much memory (60+gigs) that the program can freeze or quit. I've only tested shorter v210 clips with 8 audio tracks but even they are using what appears to be far too much memory (12 gigs). These are legacy files from when we were creating mezzanine files rather than preservation copies. I will run a test o

[2015-05-28 20:38] dericed commented on #80
Yes, perhaps adding 8 or 16 concurrent ebur128 filters to an already intensive mutli-threaded video filter of cropdetect, signalstats, and psnr, is a bit much. [Aside: do you really have so much source media to digitize that has 8 or 16 tracks of mono audio?] Not sure the best way to address this, qctools is really intended as a video analyzer, so we could provide a way to not process audio or dow

[2015-05-28 20:50] kieranjol commented on #80
FCP was set up incorrectly and captured 8 audio tracks for hundreds of mezzanine quality tape ingests regardless of how much audio information was on a tape. It was sloppy but it never interfered with our work as these files exported from a sequence (for access or programming) were exported with 2 audio tracks. I'm mostly using them for testing purposes at the moment as the umatic ingests are real

[2015-05-28 21:02] dericed commented on #80
Hi @kieranjol, you can benchmark by taking your files and doing a:

```ffmpeg -i toomuchaudio.mov -c:v copy -c:a copy onlyoneaudiotrack.mov```

By default ffmpeg only maps the first track of each type so that output would only have one track. I'm curious what speed you'd get there.

[2015-05-28 21:12] kieranjol commented on #80
I won't post the whole log, so here's the beginning and end. The avg fps was around 500fps, at a glance.

/ffmpeg -i /Users/kieranoleary/Desktop/pro\ res\ 30.mov -c:v copy -c:a copy onlyoneaudiotrack.mov
ffmpeg version 2.6.2 Copyright (c) 2000-2015 the FFmpeg developers
  built with llvm-gcc 4.2.1 (LLVM build 2336.11.00)
  configuration: --prefix=/Volumes/Ramdisk/sw --enable-gpl --enable-pthreads

[2015-05-28 21:13] dericed commented on #80
I was suggested that you test that resulting file in qctools. Should be better than 10 fps. Curious how much so. The ffmpeg process you ran is fast cuz it's only copying already encoded data from input to output.

[2015-05-28 21:16] kieranjol commented on #80
Sorry about that. The resulting file loads very quickly in qctools. >100fps at a glance. It's using 12.36 gigs of memory but qctools is working just fine.

[2015-05-28 21:19] dericed commented on #80
Yikes, that's a lot of memory, but would contain all the data and all the thumbnails. Also that's a huge increase in speed, I didn't realize that multi-track audio with ebur128 was such a bottleneck, most of my test files only have one or two stereo pair tracks.

[2015-05-28 21:27] kieranjol commented on #80
I exported that 30 minute pro res with 4 audio tracks this time. It's using 48 gigs of memory but it loads up in qctools at the very least. it's a tiny bit slower to parse than the single audio channel but it's close enough. It would be handy to have a parsing fps meter in qctools.

[2015-05-28 21:28] dericed commented on #80
``` It would be handy to have a parsing fps meter in qctools.```

Start a second issue for that.

[2015-05-28 21:34] kieranjol opened #81 "Wishlist - Parsing FPS meter"
Following on from #80 , an FPS meter for parsing could be informative when comparing how QCtools handles different kinds of files on different systems, or for reporting issues.

[2015-05-28 21:46] kieranjol commented on #80
Thanks for the help, Dave. I will run the files through ffmpeg for testing purposes while I get to grips with the software.

[2015-05-29 09:20] kieranjol opened #82 "Wishlist - Keyboard shortcut or button to skip to next spike in a graph"
I think that it would be useful if you could skip to the next spike in a particular graph. I guess in order for it to be useful, it would skip to the preceding frame. perhaps the user could also be able to set the values which would constitute as a spike, e.g. skip to TOUTS with a value of >0.006. This could be a very quick way of determining what is a scene change and what is an artefact when in

[2015-05-29 12:25] kieranjol commented on #82
I can't seem to edit this on my phone, but my " preceeding frame" suggestion doesn't make any sense. Please ignore that.

[2015-05-29 18:52] kieranjol commented on #80
Hi Dave, I made a big mistake. That wasn't the slow AS-11 file that I put through the ffmpeg, but the 8 track pro res. Taking the 8 track prores and leaving only one audio track allowed me to run it through qctools without a crash/stall.

 I just took the 16 track as-11 and reduced it down to one audio track and it parsed at the same speed (actually around 18fps). So it's not the number of audio t

[2015-06-04 23:24] kellyhaydon opened #83 "Wishlist - Go-to-frame goes-to-time?"
I love the go-to-frame feature! Is a go-to-time option a possibility?

[2015-07-14 16:08] pjotrek-b commented on #76
I've just tested it with several AVIs (FFV1.1/PCM) that were created with VirtualDub/ffdshow-tryouts. Works fine.

Maybe it's related to the filesize (>2GB / OpenDML)?

We've had cases before where some applications worked fine - as long as the AVI files were smaller than 2GB. Our archive copies are stored in 1500 frame segments, so we don't hit that limit at the moment.

[2015-07-14 16:20] pjotrek-b opened #84 "Video playback performance: Regression from 0.6 to 0.7?"
I've noticed that playing back a video (FFV1, PAL SD) that ran smoothly in v0.6 now runs slower than realtime in v0.7.x.

Additionally, I've compared CPU usage of different players for the same file. It seems that QCTools is using way more CPU to render videos. Playback in QCTools was done with "Left=Normal" and "Right=No Display".

**For comparison:**
(100% = Both physical cores + Hyperthreading.

[2015-07-14 16:22] pjotrek-b commented on #78
I saw that [ffmpeg issue #4226](https://trac.ffmpeg.org/ticket/4226) was fixed a few days ago! Yippieee!
Does this mean any updates on QCTools supporting audio graphs soon?

[2015-07-14 16:24] JeromeMartinez commented on #78
A new release of QCTools in planned in the next months, we can include more audio graphs.

[2015-07-14 16:28] dericed commented on #78
So far tested graphs with flat factor and dc offset. Also have new playback filters coming with astats used with drawgraph.

[2015-08-06 10:09] pjotrek-b opened #86 "Regression: File > Open dialog not working in v0.7.1"
In QCTools v0.7.1 (Windows 7, 64bit), the menu option "File > Open" does not work anymore.
I've tried on 2 different computers.
Shortcut "Ctrl + O" also does nothing.

In v0.6, "File > Open" works as expected.

[2015-08-06 10:13] pjotrek-b commented on #41
I'm still seeing the mis-aligned labels in v0.7.1.
Just wanted to check why this issue is closed?

[2015-08-06 10:16] pjotrek-b opened #87 "Playback not working if video is <= 1 second"
I know it's not an important use case, but still:
When a video is not longer than 1 second (e.g. 25 frames PAL), the video playback window is empty.

[2015-08-06 10:19] pjotrek-b opened #88 "Regression: Video playback sometimes not working in v0.7.1"
In v0.7.1, the video playback window is not functional.
None of the buttons (playback, previous/next, etc) do anything. Also the keyboard shortcuts (e.g. left/right) do nothing.
Dragging the scrollbar updates the currently displayed frame, but that's it.

Unfortunately, I am not able to reproduce this. It happens "sometimes" - but quite often :(

Never had this with v0.6.

[2015-08-06 11:31] dericed commented on #41
trrue, reopening

[2015-08-07 16:56] kieranjol opened #89 "Memory limitations in windows build?"
Hello,

Large files are not opening in the windows build but everything is ok on Mac. I couldn't find a pattern in terms of file size or codec, but I did notice that qctools would not let me add any more files once the memory usage for the program was approaching 2 gigs. This occurs on two different xeon 3.50ghz/ win 7 pro 64 bit/ 16gigs of ram (HP Z420 workstation). The files are saved locally to

[2015-08-07 17:14] kieranjol commented on #89
P.S, will run a test later on windows 10 with a core2quad and see if I can replicate the issue.

[2015-08-07 17:18] JeromeMartinez commented on #89
I don't worry: I bet you'll have the same problem, the tool has the issue, not the OS :).

[2015-08-07 17:53] dericed opened #90 "drag cursor in graph on audio plots is at the wrong speed"
If I have an audio graph displayed and drag the cursor along to shuttle, the cursor moves that the wrong speed relative to the drag motion. It is off sync of a mouse drag to shuttle over the video graphs.

[2015-08-07 19:50] kieranjol commented on #89
Thanks for the quick reply. So is it a memory issue? Is it connected to this issue in some way? https://github.com/bavc/qctools/issues/80

[2015-08-07 19:52] JeromeMartinez commented on #89
I don't know yet, I did not take the time to investiguate, I am just pretty sure that the issue is in my code and not due to your OS/CPU.

[2015-08-07 19:54] kieranjol commented on #89
Cool. And just to be safe, the same issue occurs with my cpu/OS :]

On Fri, Aug 7, 2015 at 8:52 PM, Jérôme Martinez <notifications@github.com>
wrote:

[2015-08-08 13:16] kieranjol opened #91 "[Edit]16 channel Pro Res 1080i.mov crashing qctools upon playback"
[Edit - I only realised that it's probably the 16 channels of audio that's causing this]

This has only happened on Mac with certain 1080i prores.mov files. 2k academy prores.mov works just fine, as does 1080p. 1080i v210.mov doesn't crash either. The graphs and thumbnails appear just fine, it's only when I click on a thumbnail and the playback window opens that qctools crashes.

Here's the mac er

[2015-08-08 13:18] kieranjol commented on #91
I just realised that the audio track has 16 channels (was actually silent film, must have been an encoder preset at the telecine house). Maybe it's related to this issue:https://github.com/bavc/qctools/issues/80

[2015-08-08 13:23] dericed commented on #91
Yep a copy. It's running 16 ebur128 filters and crashing.

[2015-08-08 13:23] #91 closed

[2015-08-13 13:19] dericed commented on #67
@clacinak can you supply a similar example image of a more complex color-waveform source (i.e. not a test pattern)

[2015-08-13 19:36] rebschandler commented on #67
![screen shot 2015-08-13 at 3 35 03 pm](https://cloud.githubusercontent.com/assets/11020308/9259688/fe066380-41d0-11e5-8937-0b30de7dc9fa.png)

[2015-08-13 19:37] rebschandler commented on #67
![screen shot 2015-08-13 at 3 35 03 pm](https://cloud.githubusercontent.com/assets/11020308/9259709/2b0c6474-41d1-11e5-901d-053878e84240.png)

[2015-08-17 16:13] richardpl commented on #66
Could someone post more pictures of chroma and flat filter, it is not obvious to me how to implement them. Thanks.
I assume luma one is already available.

[2015-08-18 14:02] dericed commented on #66
I gave the filterchains in the youtube links above which demo the flat filter.

[code]

[2015-08-18 14:16] dericed commented on #66
I gave the filterchains in the youtube links above which demo the flat filter.

[code]

In this I'm converting y, u, and v to a new y plane in geq by adding the `Y + ( abs(U-128) + abs(V-128) * ( 0.5 - random (1) * 0.86 ) ` and then plotting the result on a waveform.

The `0.5 - random(1)` is because flat waveforms plot a range of values rather than points, so the random distributes samples in a r

[2015-08-18 14:26] richardpl commented on #66
Hmm, than what about chroma filter?

[2015-08-18 14:28] dericed commented on #66
Not sure what the OP meant. The histogram=mode=waveform already plots chroma. @clacinak, have an example?

[2015-08-19 13:19] kieranjol opened #93 "DAR ignoring pixel aspect ratio value in file list view"
I have two PAL SD files which have non square pixels which result in mediainfo listing a DAR of 4:3. When I open them in QCtools, they are listed as presumably PAL square pixel 1.2500 with "Und" listed as the SAR. Am I correct in thinking that the "sample aspect ratio" is equivalent to pixel aspect ratio?

One clip is just PAL colour bars generated from FCP, the other is a tape ingest from AJA Con

[2015-08-19 13:27] dericed commented on #93
yes pixel aspect ratio = sample aspect ratio

MediaInfo and QCTools handle reporting differently. Mediainfo will round off aspect ratios to the nearest standard aspect ratio (so 1.2, 1.3, and 1.4 may be considered 4/3)

With mediainfo's report the output is not conflicting, it is just reporting on the multiple aspect ratios of the file, see the aperature atom you have in there vs the track descrip

[2015-08-19 13:34] kieranjol commented on #93
Hi Dave,

That makes total sense re the crop filter.

I'm still confused about the DAR readout in QCtools, however. If Display Aspect Ratio equals Storage Aspect Ratio * Pixel/Sample Aspect Ratio, why is it still giving a square pixel readout?

I have not tried atom inspection yet, I'm totally green in this respect. Is it because there is an issue with the files themselves, perhaps a messed up set

[2015-08-19 13:43] dericed commented on #93
It looks like the DAR column uses a fallback https://github.com/bavc/qctools/blob/master/Source/Core/FFmpeg_Glue.cpp#L1649-L1668, perhaps I should remove the else condition of the if statement.

[2015-08-19 13:54] kieranjol commented on #93
That would be interesting. it seems like it's not picking up the Sample Aspect Ratio at all for those files, though? it looks like it produced "und" if it receives a value of 0?

[2015-08-19 13:55] JeromeMartinez commented on #93
I have some MediaInfo users who complained about the lack of DAR when there is no explicit SAR in the file. they want to consider the lack of SAR as 1:1 SAR (especially with AVI files)

[2015-08-19 14:03] dericed commented on #93
currently DAR is a double. If I remove the else condition, the result may be 0.0. I'd prefer to say "Und" but would have to redefine DAR. Ideally this would stay in ratio form but we'd have somehow simplify (height * SAR) / width. @JeromeMartinez, is there a function to simplify such a ratio (i.e. reduce 640/480 to 4/3)?

[2015-08-19 14:12] JeromeMartinez commented on #93
MediaInfo and FFmpeg both report the (nearly, I have to fix rounding issues in MediaInfo) same DAR:
- FCP bars sample: DAR of 1.366 (no conflict, DAR of 1.333 is for the Clean aperture)
- beta ingest: DAR of 1.333

In QCTools, we use FFmpeg data, I don't understand the reason I can not read DAR from FFmpeg with these files. InputData->Stream->codec->sample_aspect_ratio.num is 0 when I read value f

[2015-08-19 14:14] JeromeMartinez commented on #93
Not in my code.
I think it is available in FFmpeg code (it says "SAR 59:54 DAR 295:216").

[2015-08-19 14:18] dericed commented on #93
Actually note that @richardpl has been doing significant work with the filter library recently, so I'd like the next qctools release to either use git master or the next release.

[2015-08-27 20:51] richardpl commented on #67
What about capture of chroma filter of waveform as displayed by scopebox for standard smpte color bars for issue #66?

[2015-08-28 18:30] richardpl commented on #67
This one was easy to RE.

[2015-08-30 15:38] robertmk opened #94 "Wishlist - Display frame type (I, P, B)"
It would be super-helpful if the tool displayed per-frame info about the type of the frame (I, P, B) that is currently displayed.

[2015-08-30 15:41] dericed commented on #94
You mean in the graphs or the player?

[2015-08-30 16:29] pjotrek-b commented on #94
I don't know about Robert, but my experience is that it makes sense in the player. Would probably clutter the graph?

For comparison: VirtualDub does it nicely by simply showing the current frame number, timecode and frame-type in brackets. For example:
![Uploading virtualdub_2.gif…]()
(Source: http://www.indir.org/upload/virtualdub_2.gif)

[2015-08-30 17:23] dericed commented on #94
I still have an issue with use ffmpeg within QCTools but having to rely on an external file for the font in a way that works cross platform. I opened this ticket as a possible workaround, https://trac.ffmpeg.org/ticket/4190, so that references to external files wouldn't be necessary.

[2015-08-30 17:33] robertmk commented on #94
Yes, i meant in the player.

On Sunday, August 30, 2015, Peter B. <notifications@github.com> wrote:

--
Robert Krüger
Managing Partner
Lesspain GmbH & Co. KG

www.lesspain-software.com

[2015-09-01 16:33] richardpl commented on #66
@rebschandler could you post picture of scopebox's chroma filter?

[2015-09-03 09:14] kieranjol opened #95 "Option to add thumbnail sidecars when generating qctools from ffmpeg command line"
Hi,

I've found that it's really efficient to include qctools xml generation in ffv1 transcoding scripts. It allows the operator to pass the file along to another QC technician and the graphs open immediately. I think it could be even nicer if the thumbnails could load automatically as well, which would probably mean adding them to another sidecar? I wouldn't include them in an archival package, b

[2015-09-03 09:20] JeromeMartinez commented on #95
Having a sidecar "proxy" file, with a degraded version (e.g. MOV having a 72x72 image with JPEG compression) is something we are thinking about.

[2015-09-03 09:24] kieranjol commented on #95
Great to know!

Thanks Jerome,

Kieran.

[2015-09-03 14:46] rebschandler commented on #66
![screen shot 2015-09-03 at 10 42 20 am](https://cloud.githubusercontent.com/assets/11020308/9661419/9965342a-5228-11e5-8590-050ffb5e8779.png)

[2015-09-03 15:41] dericed commented on #66
looks similar to flat (vertical fill according to saturation), but without the offset by the luma value

[2015-09-03 19:57] richardpl commented on #66
@rebschandler thanks, but I'm looking for one with 0-255 scale.

[2015-09-03 20:03] dericed commented on #66
@richardpl, I think it's using an analog IRE scale of 0-110, which ~ equals the digital 8 bit 0-255 scale. On the other hand, since the values reflect saturation levels I think the max value in a 0-255 scale would be sqrt(128*128+128*128). So a u=0 and v=0 values would fill a range on the 0-255 scale from 0-181.0193359837562.

[2015-09-03 21:23] richardpl commented on #66
Unfortunately that doesnt seem to work so im looking for exact numbers.

[2015-09-06 17:51] kieranjol opened #96 "Wishlist: Add plotlines for reference black and white in YUV graphs"
Currently, YUV graph values have plotlines at 0,85,170,255.

It could be nice to have 16 and 235 in there as well. If the actual numbers were printed in the GUI along with the current four on the vertical axis, it could make things very cramped and messy. Perhaps just having the two extra plotlines added without the numbers printed on the vertical axis could be the solution.

So: just the dots, no

[2015-09-14 12:10] richardpl commented on #57
And how this one is supposed to look like?

[2015-09-14 12:46] dericed commented on #57
at a minimum, this would have a way to see when Y values are outside of the 16-235 or 64-940 range. I've seen this done in two ways: 1) simply drawing lines to demark the 16-235 range from the rest. 2) change the color of the plotted value. In QCTools I use drawbox after waveform to do this like `waveform=intensity=${2}:mode=column:mirror=1:c=${3}:f=${5}:e=${6},drawbox=y=(ih-(16*(ih/256))):w=iw:h=

[2015-09-15 19:54] libbyhopfauf opened #97 "Wishlist: Customize Default Graphs"
It would be awesome to be able to personalize the default settings so that when QCTools opened, the graphs you personally use the most open first.

[2015-09-15 19:59] libbyhopfauf opened #98 "Hue Tooltip Description Typo?"
The description of the Hue graph (that is revealed as a tooltip when hovering your cursor over the graph checkbox) says that skin tone is 147 and the graph filter description says it is 128.

[2015-09-15 20:33] #98 closed

[2015-09-16 15:57] libbyhopfauf opened #99 "Wishlist: HUEav added to the Table/File list view"

[2015-09-25 13:08] pjotrek-b commented on #97
+1
Maybe related to #43 and #44?

[2015-09-29 00:15] libbyhopfauf commented on #97
Yes, I think it is related to #43. Thanks!

Sincerely,
Libby S. Hopfauf

On Fri, Sep 25, 2015 at 6:08 AM, Peter B. <notifications@github.com> wrote:

[2015-10-10 13:44] Lawrence58 opened #100 "Slow performance"
After 3 days QC Tools was 30% done with the following 8 files.  All are ProRes with two audio channels plus timecode.  x64 Dual Core PC with 2.6 GB available memory.

General
Complete name                            : Z:\Video 1\New Files\Conductors Training\MAHA_60.mov
Format                                   : MPEG-4
Format profile                           : QuickTime
Codec ID

[2015-10-10 20:36] JeromeMartinez commented on #100
I checked with 1920x1080 ProRes @ 135 Mbps files on my Machine (Windows with i7-37770K @ 3.5 GHz), and speed is ~ 2x slower than real time, so I expect a couple of hours for your files, not 3 days.

Is it slow performance or a stall?
I was curious and tested on Windows huge ProRes / MOV files and actually I remarked some memory corruptions with them. Digging the issue.

FYI, I tested the command l

[2015-10-10 22:27] JeromeMartinez commented on #100
Please test this version of QCTools : [QCTools 0.7.1.20151011](https://mediaarea.net/temp/QCTools_0.7.1.20151011_Windows.exe) and let me know if it is better (e.g. no stall).

Please test first file per file in order to see if a specific file has an issue, before testing a bunch of files.

[2015-10-13 19:16] #99 closed

[2015-10-13 19:16] dericed commented on #99
This is added, I'm very curious if the average hue per file is actually useful. Let us know.

[2015-10-13 19:18] libbyhopfauf commented on #99
Thanks, Dave! Me too, I thought it might help check/improve the overall
color quality of our files. But I will let you know!

On Tuesday, October 13, 2015, Dave Rice <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2015-10-13 20:59] dericed commented on #96
I attempted and got close but it's not quite working. Dropping the patch here for reference:

[code]

[2015-10-13 21:17] dericed commented on #88
Hi @pjotrek-b, any more details about this?

[2015-10-13 21:32] kieranjol commented on #96
Awesome, thanks for taking on the feedback.

On Tuesday, 13 October 2015, Dave Rice <notifications@github.com> wrote:

[2015-10-14 15:58] pjotrek-b commented on #88
Not yet.
Will try again when I'm back in the office.

[2015-10-14 22:19] JeromeMartinez commented on #96
I actually found a better way to plot horizontal lines, without impacting arrays, just using graphical stuff.

![16-235](https://cloud.githubusercontent.com/assets/1641638/10499615/d0518c8a-72d1-11e5-8679-426198b62be9.png)

But I don't like the idea to show them in all cases, I think that we also need to test if the video stream is not full range before showing such lines.

[2015-10-14 22:19] #96 closed

[2015-10-15 01:59] dericed commented on #96
Thanks. I'm not exactly sure why this is the case, but for the U and V plane the range is 16-240 rather than 16-235. I adjusted this in https://github.com/bavc/qctools/commit/81fdcc6a46451465f3d4de306728c04bee0cc17d and added documentation to comment on the broadcast range / full range issue.

[2015-10-16 16:07] Lawrence58 commented on #100
I installed the new version and tested about a dozen files.  It works fine on files smaller than 2 - 3 GB.  When I try to analyze anything larger than that the application runs fine for a while but then just closes.  That is worse than before.  Before it ran really slow for days but it didn't close.

[2015-10-16 17:59] JeromeMartinez commented on #100
The crash with 2-3GB+ files is expeted to be patched with the new version I provided (0.7.20151011), I discovered a bug with bigger MOV files, for sure. But I don't find any other bug with big files.

I just tested with QCTools 0.7.20151011, with 7 files, total 200 GB, 6 files parsed at the same time (I have a 3-year old 8-thread CPU), and after 1 hour I have 30% parsed, RAM from 1.0 GB to 1.2 GB

[2015-10-16 18:01] Lawrence58 commented on #100
You are right.  As I stated above a 33GB AVI file tests fine.

[2015-10-16 18:12] Lawrence58 commented on #100
Hi,

Here’s a quick look at the performance of my computer just after I started QC Tools on the following file.  I am at 100% CPU with no other programs open.

Kevin

[cid:image001.png@01D1081C.A524BD90]

[cid:image002.png@01D1081C.A524BD90]

From: Jérôme Martinez [mailto:notifications@github.com]
Sent: Friday, October 16, 2015 1:59 PM
To: bavc/qctools
Cc: Ganesh Irelan
Subject: Re: [qctools] Slow

[2015-10-16 18:17] JeromeMartinez commented on #100
Stated above?
I see only .MOV files.

In my screenshot, there is a 53 GB MOV ProRes HD video + several mono audios file, isn't it your test case?

Pictures are not visible, please use the GithHub website directly, maybe they don't support PNGs when you answer directly to an email.

Note: just got a crash with my test case, digging in it. But I am not sure it is the same issue as yours if you can't

[2015-10-16 18:28] Lawrence58 commented on #100
I don't see a way to insert or paste images like you did.

[2015-10-16 18:29] Lawrence58 commented on #100
z

[2015-10-16 18:29] dericed commented on #100
just drag the image into the comment box

[2015-10-16 18:31] Lawrence58 commented on #100
![qctools 2](https://cloud.githubusercontent.com/assets/15064522/10550041/8282e188-7412-11e5-99a4-9c67b740bae4.png)

[2015-10-16 18:38] JeromeMartinez commented on #100
Having CPU at 80% is normal (and expected).
What is the Memory used?
How is the QCTools GUI?

Please provide a screenshot similar to hte one I provided, with main windows, help window with the QCTools version number + count of frames in the status bar, and task bar on Processus tab, so I can have a global view of how is your environment.

If I see nothing relevant, I may need one of the file with

[2015-10-16 19:09] Lawrence58 commented on #100
![memused](https://cloud.githubusercontent.com/assets/15064522/10550945/e01aad12-7417-11e5-9952-c4dc65ddaaf4.png)

[2015-10-16 19:09] Lawrence58 commented on #100
![gui](https://cloud.githubusercontent.com/assets/15064522/10550963/f0177c22-7417-11e5-8f0d-037dd1fe1abf.png)

[2015-10-16 19:15] Lawrence58 commented on #100
![about](https://cloud.githubusercontent.com/assets/15064522/10551062/aa51d268-7418-11e5-8e7f-c6d896b45c93.png)

[2015-10-23 17:24] tulikagupta opened #102 "how to use on Unix OS?"
hi,

Can you please let me know, how can I use QCtools for Unix environment?

[2015-10-23 19:59] JeromeMartinez commented on #102
Which Unix?

[2015-10-26 12:27] tulikagupta commented on #102
I am using Centos. Is there nay way to use qctools with commands?

[2015-10-26 12:33] JeromeMartinez commented on #102
CentOS builds (6 and 7, 32 and 64-bit) are available on the [download page](http://bavc.org/qctools-downloads). Just download and install the RPM corresponding to your platform then launch it from the Desktop environment menu.

QCTools is a graphical interface, command line call for creating statistics file is available in the "Help" menu (Data format part) of the GUI or [here](https://github.com/

[2015-10-26 12:33] #102 closed

[2015-10-27 14:01] Lawrence58 commented on #100
Is this being worked on?  Is there anything I can do to help?

[2015-10-27 14:20] JeromeMartinez commented on #100
Hi @Lawrence58, sorry, we're stuck on another deadline until next week. We have some progress on this bug but not time to finish until November. Hopefully we'll have a new release out before AMIA.

[2015-10-30 14:13] kieranjol commented on #80
By the way, this also occurs with a PAL SD quicktime with four mono PCM audio tracks. Initially I thought it was greater than 8 was causing the issue.

[2015-10-30 14:18] JeromeMartinez commented on #80
I think I detected the issue and it is not due to the count of tracks, but to how the track is defined in the MOV header (with a count of samples). I prepare a build soon with a patch.
(if you have a Windows machine somewhere, you can test this [build](https://github.com/bavc/qctools/issues/100#issuecomment-147130622))

[2015-11-14 17:21] dericed opened #103 "add a waveform target display filter"
There's now a vectorscope target filter, might as well be a waveform target filter.

[2015-11-17 18:05] dericed commented on #67
@clacinak, color mode is added in https://github.com/bavc/qctools/releases/tag/v0.7.2. Please test.

[2015-11-17 18:05] #67 closed

[2015-11-17 18:05] dericed commented on #100
Please re-test in the https://github.com/bavc/qctools/releases/tag/v0.7.2 release.

[2015-11-17 18:06] dericed commented on #89
Can you re-test in https://github.com/bavc/qctools/releases/tag/v0.7.2.

[2015-11-17 18:07] dericed commented on #86
ooops, forgot to add this in 0.7.2

[2015-11-17 18:08] dericed commented on #84
verified, there is an inaccuracy in the timing of the frame presentations in the 0.7 releases. Also tested a 10 second file at 100 fps and it played the entire thing back in 3 seconds.

[2015-11-17 18:09] dericed commented on #80
Please re-test in https://github.com/bavc/qctools/releases/tag/v0.7.2. Also note in the preferences you can now limit tests to only the first track of each type or all tracks.

[2015-11-17 18:09] dericed commented on #66
@clacinak, please test in https://github.com/bavc/qctools/releases/tag/v0.7.2

[2015-11-17 18:10] dericed commented on #48
duplicate of https://github.com/bavc/qctools/issues/84

[2015-11-17 18:10] #48 closed

[2015-11-17 18:11] dericed commented on #33
duplicate of https://github.com/bavc/qctools/issues/84 (unfortunately)

[2015-11-17 18:11] #33 closed

[2015-11-17 18:12] dericed commented on #84
I closed https://github.com/bavc/qctools/issues/48 and https://github.com/bavc/qctools/issues/33 as all 3 tickets seem to refer to the same issue which can be consolidated here.

[2015-11-17 18:16] kieranjol commented on #89
8 audio files open just fine with default settings. When I enable the r128 filter and "all audio tracks " as opposed to just processing the first, qctools crashes once it has analysed a few seconds of the clip.

[2015-11-17 18:18] kieranjol commented on #89
I deselected the r128 but still selected "all audio tracks" and the same crash occurred.
ffmpeg -i :
ffmpeg version 2.8.1 Copyright (c) 2000-2015 the FFmpeg developers
  built with Apple LLVM version 6.0 (clang-600.0.57) (based on LLVM 3.5svn)
  configuration: --prefix=/usr/local/Cellar/ffmpeg/2.8.1_1 --enable-shared --enable-pthreads --enable-gpl --enable-version3 --enable-hardcoded-tables --enab

[2015-11-17 18:22] kieranjol commented on #89
I'm actually getting crashes in the mac version even if I disable r128 and astats with that particular file. Will try to do more testing later in the week.

[2015-11-17 21:15] kieranjol opened #107 "0.7.2 Issue with waveform/vectorscope and wave/vector combo"
I've only tested with Mac,will try windows later.
If I select vectorscope once, all is well. When I change to another scope, then come back to vectorscope, the scopes have darkened significantly. Sometimes they're so dark I can't see them. In the following image, the vectorscope on the left was selected once, the one on the right is what it looks like after the switch.

![screen shot 2015-11-17 at

[2015-11-17 21:27] kellyhaydon commented on #107
Hi Kieran,

Maybe you are having the same problem I was earlier? The "Field Intensity"
defaults to 0 when you change scopes (depending on the scope). I can see in
your examples that the dark one is at 0 and the visible is at 1.0.

Kelly

On Tue, Nov 17, 2015 at 1:15 PM, kieranjol <notifications@github.com> wrote:

--
*Kelly Haydon | Preservationist*
*415.558.2158 <http://415.558.2158> | kelly@bavc

[2015-11-17 22:16] kieranjol commented on #107
Yup, @kellyhaydon , that's exactly it! Happens on windows too by the way. Seems like the starting default is 0.1.

[2015-11-17 22:19] kieranjol commented on #107
Also, the waveform/vectorscope seems to work just fine in windows.

[2015-11-17 23:33] kieranjol opened #108 "Waveform/Vectorscope combo not appearing for yuv422p10le,?"
yuv420p appears to works fine in terms of the vectorscope/waveform combo, but:

    ffmpeg -f lavfi -i testsrc=duration=10:size=720x576:rate=25 -c:v v210 v210.mov

produces no Waveform/Vectorscope combo in windows or mac. It just displays the normal video. It works in 0.7.1

    ffmpeg -f lavfi -i testsrc=duration=10:size=720x576:rate=25 -c:v ffv1 -pix_fmt yuv422p10le ffv1.mkv

produces no Wavefor

[2015-11-17 23:48] kieranjol commented on #108
Just fyi, here's my ffmpeg -i
Kierans-iMac:~ kieranoleary$ ffmpeg -f lavfi -i testsrc=duration=10:size=720x576:rate=25 -c:v ffv1 -pix_fmt yuv422p10le /Users/kieranoleary/Desktop/ffv110test.mkv
ffmpeg version 2.8.1 Copyright (c) 2000-2015 the FFmpeg developers
  built with Apple LLVM version 6.1.0 (clang-602.0.53) (based on LLVM 3.6.0svn)
  configuration: --prefix=/usr/local/Cellar/ffmpeg/2.8.1_1 -

[2015-11-18 17:26] kieranjol commented on #80
I think there's probably more issues with this file than i previously thought. The graphs load fine, but when I click on a thumbnail, or sometimes If I even move the play head when still in graph view qctools crashes. This file was from an external vendor. A umatic ingest in house that had that 8 mono track preset on it has the same issue.

i can reproduce the issue when using -t 1 to trim the vid

[2015-11-18 23:17] Lawrence58 commented on #100
No change.  After churning away for about 4 hours on a 68GB MOV file the application just closed. v0.7.2

[2015-11-20 14:17] kieranjol commented on #89
I apologise for not being able to test the windows build sooner. This issue has been fixed and windows support is 7x better now! Thanks so much!

[2015-11-20 14:17] #89 closed

[2015-11-20 14:49] kieranjol opened #109 "In graph view, seeking past the analysed section crashes Win&OSX"
With pretty much every file i've put through windows and osx:
While the graphs are still generating, if I move the playhead past the point of analysis, I get an instant crash. I didn't have this issue in previous versions. Pretty sure it blocked you from seeking past the analysed section?
initially i thought QCtools was having much more difficulty with file formats in this version, but every time

[2015-11-20 16:15] kieranjol commented on #80
I should point out that qctools no longer crashes or freezes for standard def files with 8 audio tracks, as long as I don't trigger this issue: https://github.com/bavc/qctools/issues/109 In fact, even if I enable stats, r128 for ALL audio tracks, all is well.

[2015-11-26 11:45] kieranjol opened #110 "Documentation: Creating a CLI qctools doc is outdated"
Hi guys,

The command line instruction for creating a qctools document hasn't been updated to include astats and other new updates from 0.7.2.

Do you have an updated version?

Thanks,

Kieran.

[2015-11-26 12:08] dericed commented on #110
Oops.  You can get the extra filterchain piece from. https://github.com/bavc/qctools/blob/edadfb968691603e5bb0fd6bbc26f34b4ef4a1d5/Source/GUI/FileInformation.cpp#L207

[2015-11-26 13:06] kieranjol commented on #110
Thanks Dave, testing it out now, looks good. Looks like a few other filters were updated, I see an extra bit added to crop detect too. I will try to make a pull request later in order to update the docs.

[2015-11-26 13:57] kieranjol commented on #110
https://github.com/bavc/qctools/pull/111 tested on OSX.

[2015-11-30 20:44] epiil opened #112 "0.7.2 crashes with v210 MOV"
QCTools 0.7.2 crashes on our setup with around 60% processed.

ffmpeg -i output:

ffmpeg version 2.8.1 Copyright (c) 2000-2015 the FFmpeg developers
  built with Apple LLVM version 6.1.0 (clang-602.0.53) (based on LLVM 3.6.0svn)
  configuration: --prefix=/usr/local/Cellar/ffmpeg/2.8.1_1 --enable-shared --enable-pthreads --enable-gpl --enable-version3 --enable-hardcoded-tables --enable-avresample -

[2015-11-30 20:46] epiil commented on #112
OS X 10.10.5, Mac Pro (Mid-2012)

[2015-12-01 15:03] epiil opened #113 "Duplicate .xml extension when exporting qctools xml"
Version 0.7.2 (GUI)
1. Export -> To .qctools.xml.gz
2. Click "Files of type" dropdown menu, e.g., "Statistic files (*qctools.xml *qctools.xml.gz *.xml.gz *.xml"
3. The resulting File name changes from "qctools.xml.gz" to "qctools.xml.xml"

[2015-12-08 20:23] #110 closed

[2015-12-17 18:59] glwhicks opened #114 "QCTools File Size Limit?"
I have found that files larger than around 30gb (or video content larger than 31 minutes) will not load into QCTools. Is this supposed to be the case? In addition to the 30 min video files, I have video files that are 60 & 90 mins and I can't use QCTools to analyze them. I have Version 0.7.2 installed.

[2015-12-17 19:03] dericed commented on #114
QCTools is expected to handle larger files, but there could be a memory issue. What exactly happens when you put a larger file in? What type of file is it?

[2015-12-17 19:12] glwhicks commented on #114
When I drop the larger file into QCTools (FF video codec 1; FFV1) nothing happens. It acts as if I haven't dropped a file into the program.

[2015-12-17 19:14] dericed commented on #114
What version of QCTools? What OS?

[2015-12-17 19:18] glwhicks commented on #114
I have Version 0.7.2 installed. Windows 7 Enterprise, 64 bit Operating System

[2016-01-26 15:53] dericed commented on #78
closing since we now include astats graphs.

[2016-01-26 15:53] #78 closed

[2016-01-26 16:23] kieranjol commented on #78
:+1:

[2016-01-26 16:44] pjotrek-b commented on #78
Wow! Gotta check that out :)

[2016-02-16 01:39] dericed opened #117 "crash on mediatype mismatches"
create samples with
[code]

Select both and drag/drop both into ui at once, then crash.

[2016-02-16 21:04] dericed opened #118 "audio graphs don't work on windows"
reported by user: "Also, regarding comments on using QCTools on a PC: note that despite the fact that nearly all of us ... love our Mac laptops, we are a PC shop and are running QCTools daily on PCs. So, the fact that we have an empty audio timeline on our PCs even though the audio timeline shows up on a Mac is a little worrisome."

O_O

[2016-02-17 12:44] kieranjol commented on #118
I've never had this issue when working on Windows.. I just tried the latest
release of QCTools in Windows 7 and my audio graphs worked fine. Perhaps
the audio grapsh were deselected in the new preference window? I did a
fresh install of QCTools just there. astats was enabled, r128 was disabled
by default.

On Tue, Feb 16, 2016 at 9:04 PM, Dave Rice <notifications@github.com> wrote:

[2016-02-17 12:46] kieranjol commented on #118
P.S here's the ffmpeg output of the sample I just tried (only one handy at my office PC.)
PS C:\Users\kieran.oleary> ffmpeg -i C:\Users\kieran.oleary\Documents\sample.mov
ffmpeg version N-76347-gdd36749 Copyright (c) 2000-2015 the FFmpeg developers
  built with gcc 5.2.0 (GCC)
  configuration: --enable-gpl --enable-version3 --disable-w32threads --enable-avisynth --enable-bzlib --enable-fontconfi
g

[2016-02-17 16:43] dericed opened #120 "merge to one .pro file with options on how to build"
https://github.com/bavc/qctools/pull/116#issuecomment-181334252

[2016-02-20 17:02] dericed commented on #117
tested. issue fixed

[2016-02-20 17:02] #117 closed

[2016-02-20 22:01] dericed commented on #112
A similar test file may be generated via:
`ffmpeg -f lavfi -i testsrc=r=30000/1001:s=720x486  -f lavfi -i aevalsrc="sin(440*2*PI*t):s=48000:c=stereo" -f lavfi -i aevalsrc="sin(440*2*PI*t):s=48000:c=stereo" -c:v v210 -aspect 4:3 -c:a pcm_s24le -map 0 -map 1 -map 2 -t 00:30:03.24 v210_test_file.mov`

[2016-02-21 01:37] dericed commented on #112
With the sample file (created from the sample cmd at https://github.com/bavc/qctools/issues/112#issuecomment-186690532), I confirm that it does crash 0.7.2. I tested three times:

- open file and let process while on graph view: crashes around frame 47123
- open file and let process while on graph view: crashes around frame 41902
- open file and let process while on list view: doesn't crash

Retri

[2016-02-21 04:31] dericed commented on #112
This issue is fixed by https://github.com/bavc/qctools/commit/f3a00f85c037eb09fe2c57e1cb8675052b276503.

[2016-02-21 04:31] #112 closed

[2016-02-21 04:51] dericed commented on #107
fixed the waveform/vectorscope combo in https://github.com/bavc/qctools/commit/f2cab235dcbd5536fa48b330bf30633c5432f333

[2016-02-21 05:17] dericed opened #124 "int values with Args_Type_Slider are divided by divisor when reloaded"
To demonstrate:

- go to waveform player
- set intensity to '1'
- toggle to another player and then toggle back to waveform
- intensity is now at '0.1'
- toggle to another player and then toggle back to waveform
- intensity is now at '0'

Where the divisor is set to 10, then value is not properly recalled when returning to the player. example:
[code]

[2016-02-21 05:18] dericed commented on #107
The issue with waveform intensity that @kellyhaydon mentioned is now in a https://github.com/bavc/qctools/issues/124, so I'm closing this one.

[2016-02-21 05:18] #107 closed

[2016-02-21 05:58] #66 closed

[2016-02-21 14:12] kieranjol commented on #107
:+1:
Thanks! Looking forward to trying it out.

[2016-02-21 16:44] dericed commented on #108
@kieranjol can you test this with git-master.

[2016-02-21 16:50] kieranjol commented on #108
Was trying to compile from build script on Ubuntu and osx earlier and
failed. I was going to raise that as a separate issue when I got the chance.
On 21 Feb 2016 4:44 pm, "Dave Rice" <notifications@github.com> wrote:

[2016-02-21 16:52] kieranjol commented on #108
Which will hopefully be in about 30 mins
On 21 Feb 2016 4:50 pm, "Kieran O Leary" <kieran.o.leary@gmail.com> wrote:

[2016-02-21 16:52] dericed commented on #108
ping on gchat when you're on a mac and we'll walk through it, then update docs

[2016-02-21 19:03] kieranjol commented on #108
fixed with git-master when testing a yuv422p10le file. Thanks!

[2016-02-21 19:03] #108 closed

[2016-02-21 19:06] kieranjol commented on #108
yuv420p works fine too.

[2016-02-22 01:23] dericed commented on #103
added in https://github.com/bavc/qctools/commit/c54c17a5786c26609a8e892a7a419755645c8ac9

[2016-02-22 01:23] #103 closed

[2016-02-22 22:11] kellyhaydon opened #127 "MP4 vs MOV"
I dropped an MP4 into 0.7.2 and parts of the video are abruptly dropped from analyzation. After transcoding to MOV via ffmpeg, the video dropped in fine. I attached both files in a zip.

![picture 2016-02-22 at 2 11 51 pm](https://cloud.githubusercontent.com/assets/9436241/13234571/27d1ec86-d96e-11e5-8745-b9f5044b08b7.png)

[Archive.zip](https://github.com/bavc/qctools/files/141513/Archive.zip)

[2016-02-23 03:52] dericed commented on #127
This is because of the way it is edited, but yes it's not plotted quite right. The video contains a 0.6006 second presentation, but the video track includes -1.634968 seconds before the presentation starts. The first I-frame is at the -1.634968 second point on the timeline, so the first -1.634968 should play but needs to be present so that the B frame at the start of the presentation can present c

[2016-02-23 03:57] dericed commented on #127
example of the ffprobe doc for the mp4 sample file https://gist.github.com/dericed/488594bbcff528d409b3

[2016-02-23 09:56] richardpl opened #128 "incorrect display of limited range inputs with filtergraphs that use format filter"
For example "Line Select", "Bit Plane" and bunch of others that use format filter to limit accepted inputs do not take into account limited range inputs with yuvj pixel formats.

[2016-02-24 00:07] dericed commented on #128
thx. For reference, this is related to https://github.com/bavc/qctools/issues/36 and a good test file for this is at https://www.dropbox.com/s/gxv9ycr1lbmh0wu/70D_lumarange.mov?dl=0

[2016-02-24 03:20] dericed commented on #76
A sample similar to the OP's file can be created via `ffmpeg -f lavfi -i testsrc=s=720x480:r=30000/1001 -f lavfi -i "aevalsrc=sin(440*2*PI*t):c=stereo:s=48000" -c:v rawvideo -pix_fmt yuyv422 -tag:v YUY2 -c:a pcm_s16le -t 14:49.000 crashy.avi`.

I tested this with version 0.7.2 and could create a crash. @cmhosale, could you verify if this issue is still present with qctools 0.7.2?

[2016-02-24 03:20] dericed commented on #109
Hi @kieranjol, can you re-test with git-master.

[2016-02-24 03:21] dericed commented on #127
I suspect this is related to https://github.com/bavc/qctools/issues/79

[2016-02-24 04:08] dericed opened #131 "on first open only three thumbnails are generated"
see comment at https://github.com/bavc/qctools/pull/129#issuecomment-188053265

[2016-02-24 18:53] kieranjol commented on #109
Hi Dave,

I'm now thinking it could be mov/audio related, as
`
ffmpeg -f lavfi -i testsrc=r=30000/1001:s=720x486 -f lavfi -i aevalsrc="sin(440*2*PI*t):s=48000:c=stereo" -f lavfi -i aevalsrc="sin(440*2*PI*t):s=48000:c=stereo" -c:v v210 -aspect 4:3 -c:a pcm_s24le -map 0 -map 1 -map 2 -t 00:01:00.00 /Volumes/SAMSUNG/longtest1.mov
`
produces a crash, but the same streams in matroska

`ffmpeg -f lavfi

[2016-02-24 19:18] dericed commented on #109
You're crash sample is quite huge, I suggest `ffmpeg -f lavfi -i testsrc=r=1:s=16x16 -f lavfi -i aevalsrc="sin(440*2*PI*t):s=48000:c=stereo" -f lavfi -i aevalsrc="sin(440*2*PI*t):s=48000:c=stereo" -c:v v210 -aspect 4:3 -c:a pcm_s24le -map 0 -map 1 -map 2 -t 00:30:00.00 longtest1.mov`. This output causes a crash in 0.7.2.

[2016-02-24 19:28] kieranjol commented on #109
Using the 16x16 testsrc, no crash is produced in git-master, but I tried in 0.7.2 as well and it didn't crash either..

[2016-02-24 19:30] dericed commented on #109
You could probably force one but dragging the file in again for force reprocessing. Or increase the duration of the sample from `-t 00:30:00.00` to `-t 01:00:00.00`. Perhaps you have more memory that I do.

[2016-02-24 19:41] kieranjol commented on #109
I have 8 gigs.. 01:00:00:00 didn't make it crash either. I had to drag in three of them to make qctools crash but that was unrelated to this play head issue.

[2016-02-24 20:28] cmhosale commented on #109
I've experienced this bug exactly as described on my machine as well. If you'd like any info on my end I'd be glad to provide it!

[2016-02-24 20:33] cmhosale commented on #76
@dericed I went through the batch of files that previously would not load and found that they all work in 0.7.2. Full disclosure - I tested on a more powerful machine than when I originally encountered the bug, though I don't know if that would make a difference.

[2016-02-24 20:35] dericed commented on #76
Do you have access to the older machine?

[2016-02-24 20:45] dericed commented on #109
thanks, looking at https://github.com/bavc/qctools/blob/fe6b37aabaf468fcb113dc62908de7600b95bd90/Source/Core/AudioStats.cpp#L249. Perhaps one of the values overflows when the presentation timestamps get very high.

[2016-02-24 20:57] cmhosale commented on #76
No, unfortunately I do not.

[2016-02-24 22:19] dericed commented on #76
Based on @cmhosale's recent tests and @pjotrek-b's comments at https://github.com/bavc/qctools/issues/76#issuecomment-121292667, I'm going to close it issue. Re-open if needed.

[2016-02-24 22:19] #76 closed

[2016-02-25 03:51] dericed opened #133 "tiny display is missing certain thumbnails"
I found a regression with https://github.com/bavc/qctools/commit/76ef7cebcd86463d3729f43bfeff668bcf99b2d8.

I'm testing with the output of `ffmpeg -f lavfi -i testsrc=r=1:s=16x16 -f lavfi -i aevalsrc="sin(440*2*PI*t):s=48000:c=stereo" -f lavfi -i aevalsrc="sin(440*2*PI*t):s=48000:c=stereo" -c:v v210 -aspect 4:3 -c:a pcm_s24le -map 0 -map 1 -map 2 -t 00:30:00.00 longtest1.mov`. When I scrub around

[2016-02-25 18:54] richardpl commented on #118
Maybe this is because of locale set on Windows?

[2016-02-25 18:58] dericed commented on #86
fixed in https://github.com/bavc/qctools/commit/814282e0dd2640867962ad642976c5ef5bf586f2

[2016-02-25 18:58] #86 closed

[2016-02-25 18:58] kellyhaydon commented on #127
Yeah, that file is my negative duration bug-catching file.

[2016-02-25 20:59] richardpl opened #136 "Missing menubar"
For some strange reason I see no menubar in master, but have 0.7.2 binary from somewhere else that have it displayed. That 0.7.2 binary is using qt4.

[2016-02-29 20:55] utzig commented on #136
Are you on Linux? What distro? Please send me the output of `ldd QCTools`.

[2016-02-29 21:54] richardpl commented on #136
`Linux computer 3.13.0-36-generic #63+hwe3-Ubuntu SMP Thu Sep 18 15:53:49 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux`

        `linux-vdso.so.1 =>  (0x00007fffdb5ba000)
        libz.so.1 => /lib/x86_64-linux-gnu/libz.so.1 (0x00007fdbf624c000)
        libavfilter.so.6 => /usr/local/lib/libavfilter.so.6 (0x00007fdbf5e82000)
        libavformat.so.57 => /usr/local/lib/libavformat.so.57 (0x00007fdbf5aa80

[2016-03-01 02:53] #124 closed

[2016-03-01 02:54] #131 closed

[2016-03-01 03:43] #133 closed

[2016-03-08 12:06] richardpl commented on #57
Something like this:

![waveformg](https://cloud.githubusercontent.com/assets/469155/13601182/686a6b80-e52e-11e5-8792-78667aa158ec.png)

[2016-03-08 12:10] richardpl commented on #57
And this:
![waveform10g](https://cloud.githubusercontent.com/assets/469155/13601257/0773a714-e52f-11e5-97e8-3ee236ccf4cf.jpg)

[2016-03-08 17:12] kellyhaydon commented on #57
I would <3 a mark for 75 IRE...and have the digital steps on one side and
the IRE on the other, that would be helpful to ingrain where they line up.

Colors changing can be confusing: does it change on the 16/64 line or just
after? Even if you know, you have to learn it first somehow (documentation,
helpful QCtools paperclip cartoon).

I'd prefer lines personally, or both.

On Tue, Mar 8, 2016 at

[2016-03-08 19:27] richardpl commented on #57
75 IRE is 180 afaik. Lines are exactly on 16 and 235.
Should lines be dotted?

[2016-03-08 21:19] dericed commented on #57
The left most bar in smptebars is 180. Not exactly sure what the conversion from IRE to 8 bit is, it doesn't appear to be a linear relationship.

[2016-03-08 22:55] richardpl commented on #57
From another closed issue it appears 75 IRE is 180 in 8bit.
Having others lines for digital input doesnt have sense imho

[2016-03-08 23:16] epiil commented on #57
To (hopefully) add to what Dave is saying here, the IRE scale is non-linear and therefore the graticule would have to compensate for such characteristics, making this task much more complex. I've seen waveform diagrams that show the mapping of IRE/mV to code values for reference black and white (example [here](https://books.google.com/books?id=rsEwE2X3cFAC&pg=PA128&lpg=PA128&dq=millivolts+to+8-bit

[2016-03-09 08:26] richardpl commented on #57
And what was used as input for those graphs?

[2016-03-09 17:34] epiil commented on #57
[testgen.mov.zip](https://github.com/bavc/qctools/files/165712/testgen.mov.zip)

[2016-03-10 13:09] richardpl commented on #57
I used colorkey filter to make black transparent(didn't know how to do same inside gimp) and with so changed pngs imported it inside gimp as multiple layers. There I moved layers so this staircase pattern perfectly match with each layer. They indeed match, therefore I came to conclusion that they pick black and white and than they just splits range to 5 parts for IRE? and for mV?. Nothing special

[2016-03-10 23:22] richardpl commented on #57
Here it is: ![w](https://cloud.githubusercontent.com/assets/469155/13688015/35945fde-e71f-11e5-9344-995be0bc0b19.png)

[2016-03-11 02:06] dericed commented on #57
So great

[2016-03-11 21:43] dericed commented on #57
The 7.5 IRE line (at 16 in 8 bit) may be significant enough to mark as well. I'm a little confused by the numbers as the waveform plot extends down to the 0 on the y-axis but that would be out of broadcast range. I propose 100 IRE and the highest mark and 7.5 IRE as the lowest when using IRE. 75 IRE is of interest, but I'm not sure about 25 IRE or 50 IRE if these are meaningful. ping @kellyhaydon

[2016-03-11 22:21] richardpl commented on #57
7.5 IRE is not on 16 for HD content it is for NTSC only IIRC. The video that was posted use 75% color bars with 100% white and 0% black.
Using datascope on above zipped video:
100% white is 3AC (hexadecimal) or 940 in luma.
0% black is 040 or 64 in luma.
This is for 10bit, which translates to 235 and 16 in 8bit.

[2016-03-11 22:27] richardpl commented on #58
This is what I came up with: its vertically flipped but I will probably add fliped texts so you could use vflip on output to get usual vectorscope:

![v](https://cloud.githubusercontent.com/assets/469155/13717250/b04c1f7a-e7e0-11e5-891e-36430c180576.png)

[2016-03-11 22:30] dericed commented on #58
Could the flip be an option of vectorscope? Similar to the lissajous options in avectorscope.

[2016-03-12 06:18] dericed commented on #58
Both the 100 and 75% positions are off. See
[code]

Also I don't understand the difference between f=white or f=black.

thanks

[2016-03-12 06:56] richardpl commented on #58
Use smptehdbars for bt.709, smptebars should match too but not for bt.709. Don't use ffplay, it likes to insert filters in random places in graph.
I use mpv avdevice://lavfi:smptehdbars,vectorscope...

[2016-03-12 06:58] richardpl commented on #58
Black and white are different if you use x as 0 for example.

[2016-03-12 15:50] richardpl commented on #58
The smptebars are slightly of because of smptebars bugs.
testsrc & testsrc2 do not use bt709 but 470bg primaries (for rgb to yuv in drawutils) and do not mark it as such in created frames.
If I properly mark them with zscale filter: `zscale=min=470bg:m=470bg` 100% color positions are on perfect positions.

[2016-03-12 22:36] richardpl commented on #58
I just realized that default vectorscope in BigDisplay.cpp always uses 470bg locations, even for HD content, hopefully this is now resolved
Not all videos are properly marked or marked at all which matrix they use so it probably makes sense to add option for this, so one doesn't have to use another filter.

[2016-03-22 15:17] iamdamosuzuki opened #141 "Graphs Layout displays frames incorrectly for J2K/MXF files"
Reports for MXF files can be viewed if the reports are generated using FFplay outside of QCTools. However, the preview frames at the bottom of the Graphs Layout display incorrectly. It appears to be displaying per field, rather than per frame. This means that each thumbnail is only half the height (it appears squished). Additionally, the frame that is displayed is off from the time marker selected

[2016-03-24 02:37] dericed commented on #141
This is moreso an FFmpeg issue with the mxf demuxer than a QCTools issue. There was a draft patch on the issue here: http://article.gmane.org/gmane.comp.video.ffmpeg.devel/161845. See http://trac.ffmpeg.org/ticket/1102 and http://thread.gmane.org/gmane.comp.video.ffmpeg.devel/161453.

[2016-03-25 21:03] utzig commented on #136
This might be helpful:

https://bugs.launchpad.net/ubuntu/+source/appmenu-qt5/+bug/1307619

People running Ubuntu are having this bug of no menu bar showing up in Qt5 applications. Suggested fix:

    $ sudo apt-get remove appmenu-qt5

[2016-03-26 05:58] retokromer commented on #136
FYI: This workaround does not solve that issue on my side (on Ubuntu 14.04 LTS). I guess it has to do with `launchd` yet I don't have the time to delve into this now.

[2016-03-26 09:49] richardpl commented on #136
It does fixes it on my side.

[2016-03-30 23:44] NMAAHC opened #142 "not recognizing external hard drives"
The QCTools window is not recognizing any attached external hard drives when I choose "open" to open a qctools.xml.gz file.

[2016-03-31 00:35] utzig commented on #142
What OS? How did you install? Which version are you using?

[2016-03-31 14:46] NMAAHC commented on #142
+ Mac OS X 10.10.5
+ Homebrew
+ QCTools Version 0.5

[2016-04-01 14:29] dericed commented on #114
@glwhicks Can you retest with these http://utzig.org/files/QCTools_0.7.3_Win32.exe
http://utzig.org/files/QCTools_0.7.3_Win64.exe

[2016-04-01 14:30] dericed commented on #100
Hi @Lawrence58, can you retest with these http://utzig.org/files/QCTools_0.7.3_Win32.exe
http://utzig.org/files/QCTools_0.7.3_Win64.exe

[2016-04-04 00:45] epiil opened #144 "Wishlist: Active Playback Frame rate stat"
It would be great to have an active frame rate stat in the playback filter window to observe any differences between a file's intrinsic frame rate and the frame rate during playback.

[2016-04-04 00:56] epiil commented on #144
This might be redundant with @kieranjol's request in #81, so feel free to close if that's the case.

[2016-04-04 01:05] epiil opened #145 "Wishlist: Active Width/Height stat"
There's obviously not a lot of real estate left in the playback filter at the moment, but an active (i.e., "current") size stat w/r/t width and height would help identify potential aliasing artifacts from improper scaling.

[2016-04-04 07:44] kieranjol commented on #144
I don't think my request is the same as yours. I wanted to see at what
speed QCTools could actually generate the graphs.

[2016-04-04 20:22] epiil commented on #144
@kieranjol ah, thanks for clarfiying

[2016-04-04 20:55] epiil opened #146 "Waveform/Vectorscope: Intensity defaults to 0.0 when switching between filters"
The intensity of the waveform and vectorscope filters change from the initial 0.1 down to 0.0 when switching between filters. To reproduce:

1. Open playback filter window
2. Select Waveform/Vectorscope (0.1 default Intensity)
3. Switch to another filter, then back to Waveform/Vectorscope
4. Default Intensity is now 0.0

I think ideally one would want user-defined settings to remain when switching

[2016-04-04 20:57] dericed commented on #146
resolved in https://github.com/bavc/qctools/issues/124.
If you rebuild from source it should be okay. See https://github.com/bavc/qctools/#installation

[2016-04-04 20:57] #146 closed

[2016-04-04 20:58] kieranjol commented on #146
Hi Erik,

This issue has been fixed in the latest source code. I raised it as an
issue before but I can't grab the link at the moment.

-K

On Mon, Apr 4, 2016 at 9:55 PM, Erik Piil <notifications@github.com> wrote:

[2016-04-04 21:02] epiil commented on #146
Ah I see, thanks. Sorry for the redundancy.

On Mon, Apr 4, 2016 at 4:58 PM, kieranjol <notifications@github.com> wrote:

[2016-04-06 16:43] glwhicks commented on #114
?Dave,

I'm testing this out today. I'll let you know the results.

-Glenn

Glenn Hicks
Quality Control Specialist
Indiana University-MDPI
glwhicks@indiana.edu
(812)320-7410

________________________________
From: Dave Rice <notifications@github.com>
Sent: Friday, April 1, 2016 10:29 AM
To: bavc/qctools
Cc: Hicks, Glenn William
Subject: Re: [bavc/qctools] QCTools File Size Limit? (#114)

@glwhicks

[2016-04-06 18:58] glwhicks commented on #114
?Dave,

Thanks for the latest update. I've installed and tested the software with files of different sizes. I've found that I can now view files around 45 mins in length (approximately 23gigs), the software crashes with files that are longer/bigger.

I have a theory. I think the issue may be the Matroska wrapper our files are in. QCTools seems to work fine with MP4 files that are longer(60mins, 90

[2016-04-12 13:51] Lawrence58 commented on #100
I still experience the same behaviour.  I uninstalled QCTools entirely.  Then reinstalled.  Following are relevant screen shots.
![version](https://cloud.githubusercontent.com/assets/15064522/14462213/01faea10-0094-11e6-9eb8-d37bf387d1ae.PNG)

![file](https://cloud.githubusercontent.com/assets/15064522/14462195/f2ec8e66-0093-11e6-8141-80e890dc09dc.PNG)

![resources](https://cloud.githubusercontent

[2016-04-12 22:07] dericed commented on #100
In trying to make a sample to match the op's example, I noticed that the audio of the source is unsigned 24 bit audio. Haven't seen that before.

[2016-04-12 22:12] dericed commented on #100
Here's a command to recreate the first mentioned file, except with signed audio rather than unsigned. I only found reference to unsigned audio in quicktime at 8 bit but not for 24.

`ffmpeg -f lavfi -i testsrc=n=3:s=1920x1080:r=30000/1001 -f lavfi -i aevalsrc="sin(440*2*PI*t):s=48000:c=mono" -f lavfi -i sine -c:v prores -vf setfield=tff -c:a pcm_s24le -t "43:49.000" -metadata timecode="08:31:57:20

[2016-04-13 18:16] utzig commented on #100
@Lawrence58 Did you try both the Win32 and Win64 versions?

[2016-04-13 21:12] Lawrence58 commented on #100
For what it is worth - the file with unsigned audio was created on an AJA KiPro.

[2016-04-14 12:16] Lawrence58 commented on #100
Yes.  I tried both Win32 and Win64. Exact same results each time.

[2016-04-23 03:56] dericed opened #148 "draft a makefile for documents and include some docs in builds"
Related to https://github.com/bavc/qctools/pull/147, I propose drafting a Makefile to build the markdown to produce html and pdf version. This is similar to how it is working in the repo for the ffv1 spec at https://github.com/FFmpeg/FFV1/blob/master/Makefile

[2016-04-24 17:12] ablwr commented on #148
I made a makefile, it was in the merged PR! https://github.com/bavc/qctools/pull/147

[2016-04-24 17:13] ablwr commented on #148
Oops apparently I did not check it in. ;)

[2016-04-24 20:10] pjotrek-b commented on #94
Have a case right now where I'd be needing this feature, so I thought I'd say "hello" and ask about any status update on this feature request? :)
Thanks in advance!

[2016-04-24 20:16] pjotrek-b opened #150 "Wishlist: Navigate between keyframes only"
When analyzing lossy-encoded material, I often find it handy to have the possibility to navigate on keyframes (I-frames) only.

This would also make it easier and more comfortable to analyze I-P-B frames (as requested in #94), since you jump to a keyframe and then navigate left/right from there. I use it like this in VirtualDub all the time.

The keyboard shortcut for this in VirtualDub is:

[2016-04-24 20:29] pjotrek-b opened #151 "Wishlist: Improved position navigation"
Every time I use QCTools, I feel a bit uncomfortable with the way I can navigate within the video, compared to as I'm used to doing the same in e.g. Virtualdub.

The following stepsizes I feel would add great value to the usability of QCTools:

1. Jump in steps of 1 second (Alt + Left/Right)
2. Jump in steps of 1 minute (?)
3. Jump between keyframes (Shift + Left/Right) - See #150.
4. Jump to begi

[2016-04-24 20:49] pjotrek-b opened #152 "Wishlist: Drag image when using "Zoom" filter"
When using the Zoom filter to analyze an image, one must currently use the x/y UI-slider elements to navigate within the image.

This does the job, but being able to drag the image inside the viewport, might greatly improve the usability of this filter.

Thanks in advance :smile:

[2016-04-24 20:50] pjotrek-b commented on #152
To conform with navigation in other viewers, "Ctrl + MouseScrollWheel" for controlling the zoom level would be an icing on the cake :cake: :smile:

[2016-04-24 21:04] pjotrek-b commented on #94
Thinking about @dericed's comment:
Are you suggesting to imprint the frame type into the image as a filter?

If the frame-type can already be read, but displaying it is what is preventing this feature from being added, I would suggest the following places where to put the frame-type:

1. Graph view / Filter view:
  * Add it right of the Frame position at the bottom (in [] brackets):
  * [K]=Keyfra

[2016-04-24 21:10] pjotrek-b opened #153 "Rewind not working as expected"
1. When playing a lossy-encoded H.264 video backwards (-0.5x, -1x, -2x), only the keyframes are displayed.

2. When stepping back and forth frame by frame, the displayed video image stays frozen until the next previous keyframe is encountered.

The expected behavior would be to see each frame, rendered as it would look like in forward playback.
I know that playing digital lossy files in reverse is

[2016-04-24 21:27] pjotrek-b opened #154 "Wishlist: B-frame dependency graph"
Okay, now I'm going crazy, but one can dream...

Here's my idea:
Add a graph with a different color for each frame, depending on its frame-type (I,P,B).

Actually, it's not fully my idea, but based on the awesome feature in GSpot, that shows the frame-dependency (coded- / presentation-order)

![gspot-frame_dependency](https://cloud.githubusercontent.com/assets/2419195/14770519/0ee2d3e8-0a74-11e6-9

[2016-04-24 21:33] pjotrek-b opened #155 "Wishlist: Arrange video input/output window vertically"
Currently, the video input/output panes are positioned next to each other - horizontally.
When watching wide-screen material, it would sometimes be better to view them on top of each other - vertically.

[2016-04-25 14:58] JeromeMartinez commented on #154
Not so much a crazy idea, this is a feature in the ToDo-list of MediaInfo for several years (no time for implementing it, unfortunately).

I am not sure this feature has its place in QCTools: QCTools is more focused on the decoded frame analysis, and this feature may have more its place in a tool like MediaConch or MediaInfo focused on the encoded bitstream analysis.

[2016-04-25 16:13] NMAAHC opened #156 "Wishlist - markers and comments"
Ability to add a marker on a timeline, comment for that marker and save it in the xml.gz file.

I'm thinking of the exact same feature available in FCP or other NLE editors. Keyboard shortcut is the ~ key.

Hopefully markers could be specific to a particular filter rather than just a general marker on the timeline.

[2016-04-25 16:34] kieranjol commented on #156
+1

This would be incredibly useful and helpful!
On 25 Apr 2016 5:13 p.m., "Smithsonian National Museum of African American
History and Culture (NMAAHC)" <notifications@github.com> wrote:

[2016-04-25 18:26] pjotrek-b commented on #156
+1

Markers would definitely have to be file-related (not general on the timeline for all files).
But I guess if they are stored in the xml, that should not be an issue.

Another question would be in which format to store these markers:
I've done research on existing formats for marker-style annotations, and I ended up with Matroska-like chapter XML syntax, using nanoseconds to be able to annotate

[2016-04-25 18:29] pjotrek-b commented on #154
MediaConch/MediaInfo rather than QCTools: True indeed.
Yet, I still found it useful in the past to have the frame-type information in relation to the displayed image.

So for QCTools, I think it'd be perfectly sufficient of only having a way to see the frame-type somehow. Thought it might be nice to have it as a graph, to get a structural overview of the frame-types as well.

[2016-04-25 18:34] retokromer commented on #156
👍

[2016-04-25 19:14] intelligencer commented on #156
I mean filter related, not file related. So you could put a set of markers
on the TOUT filter and another on the YUV filter, for example.
On Mon, Apr 25, 2016 at 14:34 Reto Kromer <notifications@github.com> wrote:

[2016-05-09 22:58] kellyhaydon opened #159 "X position scroll bar in Waveform Target is cut off"
The scroll bar used to adjust the x position is cut off, though it still works.

![picture 2016-05-09 at 3 54 41 pm](https://cloud.githubusercontent.com/assets/9436241/15130648/f64fdf10-15fe-11e6-92f1-d14a5a6a6620.png)

[Update] This seems to occur with other far left scroll bars.

[2016-05-09 23:20] kellyhaydon opened #160 "Bit plane UV arrows are moving frames forward"
The UV value adjusts in Bit Plane are moving the frame forward when you click on them. Not sure if you can gather that from the gif...

![bitplaneerror](https://cloud.githubusercontent.com/assets/9436241/15131082/e75943b8-1601-11e6-8667-0b298be7ba49.gif)

[2016-05-09 23:35] kellyhaydon opened #161 "Playback filter dropdown disappears in new waveform"
This is in the new build that isn't publicized yet, as are all of the other issues I've made today. When you choose "waveform" the playback filter dropdown menus disappears on the right. You can't get out of this filter unless you shut down QCtools entirely.

![picture 2016-05-09 at 4 32 49 pm](https://cloud.githubusercontent.com/assets/9436241/15131315/ba47620e-1603-11e6-82de-8c58f3460566.png)

[2016-05-10 01:29] kellyhaydon opened #162 "Wishlist: Mouse click/drag capabilities in Waveform Target"
This filter would be much more user friendly if the target could be moved via mouse rather than using scroll bars.

[2016-05-10 03:38] dericed commented on #162
This would be better ux, but I'm not sure about how to grab the x and y coordinate from a mouse click in the player. @utzig, any idea on this one?

[2016-05-10 03:53] dericed commented on #160
I can't seem to recreate this. ???

[2016-05-10 03:56] dericed commented on #161
For reference the build tested in this issue is http://utzig.org/files/QCTools-0.7.2-testing.dmg. I think I caused this bug in the https://github.com/bavc/qctools/tree/libavfilter-updates branch.

[2016-05-10 09:20] utzig commented on #162
I have to check the specifics but usually mouse events are triggered for QWidget based classes, like this:

http://doc.qt.io/qt-5/qwidget.html#mouseMoveEvent

The event object has x and y for widget coordinates and global x and y.

[2016-05-12 02:40] dericed commented on #153
I suspect that the player upgrade to mpv will address this. cc @richardpl
Initial work: https://github.com/richardpl/qctools/tree/mpv

[2016-05-12 13:43] richardpl commented on #153
Well mpv doesn't ave -0.5x backward it only have single frame backward, which is slow in most cases as it needs to decode packets again.

[2016-05-12 13:49] dericed commented on #153
@richardpl Dropping backwards playback may be fine to get the other benefits of mpv (audio playback, accurate playback fps, etc).

[2016-05-12 13:53] JeromeMartinez commented on #153
Usually GOP is 12-15 frames so less of 0.5 seconds of playback (so of decoding), waiting a bit for single frame backward may be acceptable (better than not having the feature).
We could maybe add some frame buffering later (i.e. mpv decodes all other frames, we buffer some of them in order to decode again only every few frames backward instead of every single frame backward)

[2016-05-14 11:18] kellyhaydon commented on #160
This is an uncompressed v210 video and it's in the test .dmg?

[2016-05-16 01:53] utzig commented on #114
Hi Glenn,

I fixed an issue which might be the one that is causing QCTools to fail with big files for you. I created test versions of the installer which can be downloaded here:

http://utzig.org/files/QCTools_0.7.3alpha_Win32.exe
http://utzig.org/files/QCTools_0.7.3alpha_Win64.exe

Both the Win32 and Win64 have the same fix applied so just choose the one which is adequate for your Windows install

[2016-05-16 13:51] dericed commented on #114
Is this fix relevant to https://github.com/bavc/qctools/issues/100?

[2016-05-16 14:34] utzig commented on #114
Yes, not sure about the memory usage but for the crash it might be.

[2016-05-16 18:44] glwhicks commented on #114
?Fabio,

Success (at least tentatively)! I have successfully loaded files as long as 1hr 55mins into the software. I am able to see the pertinent graphic information. The playback is still at a very slow rate (almost frame by frame) and the audio levels are still not displayed, but I'm very encouraged at this development.  I will keep you posted if I encounter the crash again. Thank you for your h

[2016-05-16 18:46] dericed commented on #114
Thanks for testing @glwhicks, the playback issue should hopefully be addressed in a refactoring of the player to use libmpv.

[2016-05-17 15:05] dericed commented on #100
Hi @Lawrence58, could you re-test with these windows builds: https://github.com/bavc/qctools/issues/114#issuecomment-219333140 against this issue.

[2016-05-17 15:06] dericed commented on #114
Hi @glwhicks, the audio issue is noted here https://github.com/bavc/qctools/issues/118 and playback is noted in https://github.com/bavc/qctools/issues/84, so I am closing this issue.

[2016-05-17 15:06] #114 closed

[2016-05-20 20:59] kellyhaydon opened #164 "Wishlist: Playback window can be "docked" above the graph"
I can arrange the windows manually, but it would be ux-nice to be able to dock so I could min/max at the same time .

![screen shot 2016-05-20 at 1 58 03 pm](https://cloud.githubusercontent.com/assets/9436241/15441964/e65dc31e-1e92-11e6-8f40-9e081975f9bd.png)

[2016-05-21 21:14] Lawrence58 commented on #100
I just succeeded in testing a 2GB DV / MOV file.  It took 5 hours.  All functionality appeared to be normal.  Congratulations.  I’ll test more in the days ahead and let you know if I encounter any issues.

Kevin

Ganesh Kevin Irelan
SYDA Foundation | Audio Video Preservation
845-434-2000  ext 2043
http://www.siddhayoga.org/

From: Dave Rice [mailto:notifications@github.com]
Sent: Tuesday, May 17,

[2016-05-21 21:19] dericed commented on #100
5 hours to process 2GB of DV (about 10 min in duration) doesn't sound normal. @glwhicks what sorts of speeds were you getting with that Windows build?

[2016-05-21 21:24] Lawrence58 commented on #100
Sorry. That should have been 20GB.

From: Dave Rice [mailto:notifications@github.com]
Sent: Saturday, May 21, 2016 5:19 PM
To: bavc/qctools
Cc: Ganesh Irelan; Mention
Subject: Re: [bavc/qctools] Slow performance (#100)

5 hours to process 2GB of DV (about 10 min in duration) doesn't sound normal. @glwhicks<https://github.com/glwhicks> what sorts of speeds were you getting with that Windows build?

[2016-05-23 17:54] glwhicks commented on #100
?My experience with processing has been an almost real-time duration, so a 30 min. video takes about 30 min. to process. I haven't tested this yet with the new Windows rebuild. That being said, I have the advantage of having the processing done in a stage before I receive the files. I receive the qctools file along with my video files, so that when I load the file into QCTools, the graphs display

[2016-05-30 23:15] utzig commented on #161
I was able to reproduce this with the above dmg image but my current build from master doesn't have the issue. I believe this might be something related to Qt which was upgrade from 5.5.x to 5.6.0 since I released that dmg.

[2016-05-30 23:19] utzig commented on #161
A new build with Qt 5.6.0 and FFmpeg 3.0.2: http://utzig.org/files/QCTools-0.7.2-test2.dmg

Should fix at least this issue!

[2016-05-30 23:46] dericed commented on #161
Sorry for the confusion, this issue is in regards to the https://github.com/bavc/qctools/tree/libavfilter-updates branch. The build in this comment https://github.com/bavc/qctools/issues/161#issuecomment-218053187 is built from that branch.

[2016-05-31 00:06] utzig commented on #161
I don't get it! I was able to reproduce the issue with the 0.7.2-testing.dmg which **I myself** created and it was not based on libavfilter-something branch! I'm really confused! But it it's fixed even better.

[2016-05-31 00:10] dericed commented on #161
Maybe I'm wrong. I guess this wasn't on the libavfilter-update branch since the test2 build shows the old waveform view rather than the newer one shown above.

[2016-05-31 00:47] dericed commented on #159
Fixed in the next build. Thanks @kellyhaydon.

[2016-05-31 00:47] #159 closed

[2016-06-17 19:11] NMAAHC commented on #142
Any update on this? Still can not access any external hard drives via QCTools open file dialog box.
![screen shot 2016-06-17 at 3 10 35 pm](https://cloud.githubusercontent.com/assets/15135491/16161859/c51132f6-349d-11e6-99c9-81ef0d5d1e9a.png)

[2016-06-19 13:20] utzig commented on #142
This was fixed 3 months ago. I think no official release was made since then and we're waiting a new release of ffmpeg to follow with a new release (this should happen soon). If you don't mind installing through homebrew, that is an alternative which will bring you the latest updates.

[2016-06-19 15:01] BleakleyMcD commented on #142
Ok thanks!

On Sun, Jun 19, 2016 at 08:20 Fabio Utzig <notifications@github.com> wrote:

[2016-06-19 15:24] retokromer commented on #142
The versions FFmpeg 3.1 should be released very soon. Egos permitting.

[2016-06-20 13:45] dericed commented on #142
Some of @richardpl's updates for waveform and vectorscope are not in 3.0.2, thus we wait for 3.1.

[2016-06-20 22:34] NMAAHC opened #168 "Waveform filter show IRE when it should show millivolts"
When scale selected is millivolts the graph scale displayed is IRE and when scale selected is IRE the graph scale displayed is millivolts

[screen shot 2016-06-20 at 6 23 13 pm](https://cloud.githubusercontent.com/assets/15135491/16212430/801481d8-3715-11e6-8892-70cb437e9e71.png)

[screen shot 2016-06-20 at 6 23 26 pm](https://cloud.githubusercontent.com/assets/15135491/16212432/860d994e-3715-11e6

[2016-06-21 13:05] kieranjol opened #169 "Waveform/Vectorscope/datascope etc not displaying using homebrew --head on El Capitan."
I'm on a new mac with very little software installed. Scopes like Waveform/Vectorscope/datascope are not displaying, I just get normal video plackback. ffmpeg 3.0.2 is also installed via homebrew. Perhaps the issue is more to do with having such a clean setup (or El Capitan) than with the current state of the brew recipe?

Here's my brew install console output (I had previously attempted to instal

[2016-06-21 13:08] kieranjol commented on #169
![screen shot 2016-06-21 at 14 07 59](https://cloud.githubusercontent.com/assets/1127102/16230484/9013f574-37b9-11e6-9fbe-04e4cdd8e6ee.png)

[2016-06-21 13:32] dericed commented on #169
The next qctools release will use FFmpeg 3.1, since this isn't released yet, you'll have to do:

[code]

[2016-06-21 13:34] #169 closed

[2016-06-21 13:37] dericed commented on #168
@richardpl fixed this in https://git.ffmpeg.org/gitweb/ffmpeg.git/commit/5b174dd3f133387688be96eaead1ca0e15cc74f5.

If you try this you should see the changes.
[code]

[2016-06-21 13:44] kieranjol commented on #169
Thanks Dave!

[2016-06-21 13:53] dericed commented on #169
If you rebuild, I'm also curious of your impressions of the idet graphs.

[2016-06-21 14:04] retokromer commented on #169
FYI: Also something with qt5 sucks now on Linux. I will try to fix this later.

[2016-06-21 16:42] NMAAHC commented on #168
scale selected and scale graph displayed are still switched for IRE and millivolts after reinstall.

[2016-06-21 16:56] kieranjol commented on #169
@dericed  is that in git master? I didn't see any idet.. Are they called something else?

[2016-06-21 16:59] dericed commented on #169
It was merged here: https://github.com/bavc/qctools/pull/166. You may have to open the preference pane and select idet.

[2016-06-21 20:51] kieranjol commented on #169
![screen shot 2016-06-21 at 21 40 03](https://cloud.githubusercontent.com/assets/1127102/16245436/c7420326-37f8-11e6-8ee4-f8a26a05d4b1.png)
Very interesting. I ran what was probably a 16fps film that was telecined to 50i through the graphs. idet M seems to give an accurate, at a glance view that seems to correlate with what mediainfo says, while idet S is the most interesting. It correctly was iss

[2016-06-30 06:15] retokromer commented on #142
FYI: FFmpeg 3.1 is now available also through Homebrew/Linuxbrew.

[2016-07-13 00:52] kellyhaydon opened #171 "large v210 files crashing in most recent build"
I recompiled qctools and ffmpeg today and still having issues with large, uncompressed files crashing at around 40%. Attached is mediainfo report; below is crash report. OS is 10.11.5.

[bigfile.txt](https://github.com/bavc/qctools/files/360494/bigfile.txt)

Process:               QCTools [463]
Path:                  /usr/local/Cellar/qctools/HEAD/QCTools.app/Contents/MacOS/QCTools
Identifier:

[2016-07-13 01:05] utzig commented on #171
I did a test fix for large files back in May which was never merged but solved the problem for people who tried it. Just opened a PR now with the fix #172.

[2016-07-13 01:29] utzig commented on #171
@kellyhaydon PR was merged, please reinstall and try again!

[2016-07-13 01:31] kellyhaydon commented on #171
@utzig thanks! Dave alerted me and I made the update, but my files are still crashing around the same place :(.

[2016-07-13 01:40] utzig commented on #171
@kellyhaydon Can I create a file that reproduces the bug, or could you make it available in some place for download?

[2016-07-13 01:52] kellyhaydon commented on #171
@utzig - I can put it on our FTP and email you the login?

[2016-07-13 01:56] utzig commented on #171
Sure!

[2016-07-13 02:30] dericed commented on #171
An upload/download would be massive. This should make a file of similar size:

`ffmpeg -f lavfi -i testsrc=n=3:r=1:s=720x486 -f lavfi -i aevalsrc="sin(440*2*PI*t):s=48000:c=stereo" -c:v v210 -aspect 4:3 -c:a pcm_s24le -map 0 -map 1 -t 00:57:52.602 longtest1.mov`

[2016-07-13 02:30] dericed commented on #171
result should be ~91 GB :)

[2016-07-13 14:00] dericed commented on #171
Ooops, should be
`ffmpeg -f lavfi -i testsrc=n=3:r=30000/1001:s=720x486 -f lavfi -i aevalsrc="sin(440*2*PI*t):s=48000:c=stereo" -c:v v210 -aspect 4:3 -c:a pcm_s24le -map 0 -map 1 -t 00:57:52.602 longtest1.mov`

[2016-07-15 23:02] kellyhaydon opened #173 "qctools crashing when audio playback filters are selected"
In the latest --HEAD build, the application shuts down when a audio filters are selected in the playback window. We've noticed this on two different machines, both running El Capitan 10.11.5.

[2016-07-21 17:45] kellyhaydon commented on #171
I'm having similar issues with ProRes as well in, in both builds.

[2016-07-23 07:35] ablwr opened #174 "Add filters layout button to top navigation bar"
@utzig if you don't mind...

For people using QCTools for the first time, there's not a clear understanding as to how to get to the filters view. There is [an icon for it though](https://github.com/bavc/qctools/blob/master/Source/Resource/filters_layout.png) and I'd like to see it (return?) to the navigational bar for people who don't know that clicking on the image above the play button will take

[2016-07-24 14:24] utzig commented on #174
Done. I slightly changed the semantics and position of the button but the action will be the same. Feedback welcome!

[2016-07-25 08:49] ablwr commented on #174
Yay great!!! This small improvement will be a huge help to new users.

[2016-08-12 14:49] #168 closed

[2016-08-12 14:55] richardpl commented on #174
Looks to be fixed.

[2016-08-12 14:55] #174 closed

[2016-08-12 14:57] richardpl commented on #118
The audio graphs works for me on crippled cygwin build I managed to create on Windows.

[2016-08-12 15:08] richardpl commented on #57
I noticed that both waveform and vectorscope graticule is hardly visible in qctools if one use scale filter with high resolutions in BigDisplay. For small resolutions graticule is pretty big...

[2016-08-12 15:15] dericed commented on #57
Currently both windows are scaled to the width/height of the original video, so a 10 bit vectorscope has a tiny graticule. I've been waiting a bit on addressing to as we've considered refactoring the player to mpv, but I think I saw you putting a size option into the scope filters which would make this easier.

[2016-08-12 15:33] richardpl commented on #57
Yes, its 1024x1024 size of vectorscope for 10bit.
It could be made smaller if you reduce bitdepth, with format filter.
Alternative I could add freetype support on top of current, fixed approach, so it scales with video size.

[2016-08-12 15:53] dericed commented on #57
Possible for `vectorscope=size=512x512` so that it is scaled in filter before applying the graticule?

[2016-08-12 16:11] richardpl commented on #57
With swscale?.

[2016-08-16 18:35] kellyhaydon opened #181 "crashing when audio playback filters are selected (v210)"
Latest --HEAD build is crashing on v210 files when audio playback filters are selected. Sorry to make all the v210 complaints, but we'll be using the format for a while longer yet.

[2016-08-16 18:36] richardpl commented on #181
v210 files do not have audio, right?

[2016-08-16 19:43] dericed commented on #181
Kelly mainly uses QuickTime containers with v210 video and several pcm_s24le streams of audio

[2016-08-16 19:43] dericed commented on #181
See https://github.com/bavc/qctools/issues/171

[2016-08-16 19:48] richardpl commented on #181
And what about not v210 files with audio, do they also crash?
Here they work fine.

[2016-08-16 19:50] dericed commented on #181
Have you tried with large files? In Kelly's case it's only v210+several pcm_s24le at an hour or more. There's an ffmpeg command to replicate the data volume via ffmpeg at https://github.com/bavc/qctools/issues/171#issuecomment-232237722.

[2016-08-16 20:03] richardpl commented on #181
I have faster command and it still slower than realtime to encoder, so I will need to wait hour or more.

[2016-08-17 11:41] richardpl commented on #181
I can't run qctools with cygwin on windows any more.
I doubt that file size matters when using audio playback filters.

[2016-08-17 13:36] dericed commented on #181
cc @ElderOrb. @richardpl can you provide more details regarding this issue.

[2016-08-17 14:14] richardpl commented on #181
I just get floating point exception. And core is dropped.

[2016-08-17 14:38] utzig commented on #181
The problem reported on #171 was caused a floating point exception inside qwt. Did not track it down.

[2016-08-17 21:23] kellyhaydon commented on #173
It appears I sent in this ticket twice, so am closing. Thanks.

[2016-08-17 21:23] #173 closed

[2016-08-17 21:29] kellyhaydon commented on #181
Hey all - our v210 files are crashing on audio playback filters whether they have audio or not. Here is mediainfo output:

Last login: Wed Aug 17 14:19:23 on ttys000
102175-Mac-Pro:~ preservation$ mediainfo -f /Volumes/Storage/PAP7_NancyMeliWalker/BAVC1004177_NN.258-BX21_Jams_with_Molly_and_Angie_1998.mov
General
Count                                    : 325
Count of stream of this kind

[2016-08-17 21:36] dericed commented on #181
afk but I have a theory that it's related to the 486 height of your source videos. Does it happen with 480 v210.

[2016-08-20 16:39] #118 closed

[2016-08-20 16:44] richardpl commented on #181
I think this should be fixed in latest master, please confirm.
I could reproduce your crash in my msgw64 build.

[2016-08-21 09:01] richardpl commented on #109
Can you still reproduce this with latest version?, I can't.

[2016-08-21 12:16] kieranjol commented on #109
Can't test now, but off the top of my head, this hasn't been an issue with
any builds I've tried in the last few months.

[2016-08-21 13:07] dericed commented on #109
Seeking past the analysis section still gives unexpected behavior, but it doesn't crash for me either, so closing this.

[2016-08-21 13:07] #109 closed

[2016-08-21 13:20] dericed opened #188 "conditional graphing for based upon bit depth"
Now that [signalstats](https://git.ffmpeg.org/gitweb/ffmpeg.git/commit/ee56d9bc89c2cd9f79ef62a8301b9c42c50b0757) supports >8 bit (thanks @richardpl), many graphs need to be adjusted to plot in the appropriate range (0-255 or 0-1023).

In the video group array, there's a [min/max](https://github.com/bavc/qctools/blob/cba9f594098c4e5069b64f3f1cdbfcbdfd44cc01/Source/Core/VideoCore.cpp#L15) y-axis val

[2016-08-21 13:27] richardpl commented on #188
Can't min/max be auto extended to max/min possible value like for audio?

[2016-08-21 19:48] dericed commented on #188
Ultimately I'd like it to be possible to plot the graph in either mean: plot based on min to max or plot within the context of greatest possible min and max.

[2016-08-21 20:19] dericed commented on #181
Assigning testing against latest master to @kellyhaydon

[2016-08-21 20:23] dericed commented on #162
@ElderOrb or @utzig, interested in trying this? If x,y coordinates were accessible from mouse events in the player window, then the x and y could replace the `${1}` and `${2}` in https://github.com/bavc/qctools/blob/387c9765196aa877f1f6106eb738cde7237ba14c/Source/GUI/BigDisplay.cpp#L226-L245.

[2016-08-21 20:30] dericed commented on #161
AFAICT this is fixed in master, perhaps fixed in https://github.com/bavc/qctools/commit/c2785b90aa32f76378f01e4423408f9849147cf0. @kellyhaydon if you still see this behavior in master, please reopen.

[2016-08-21 20:30] #161 closed

[2016-08-21 20:59] utzig commented on #162
If @ElderOrb wants to do it, find by me. I'm really struggling with time right now but looks like a cool feature! Catching the mouse events should be quite easy, just need to check how to pass them forward.

[2016-08-21 21:05] ElderOrb commented on #162
Sure! I'll start looking at this.

[2016-08-21 21:10] dericed commented on #181
Tested my [theory](https://github.com/bavc/qctools/issues/181#issuecomment-240556835) about 486 height but found samples at 486 that were fine.

[2016-08-21 21:16] dericed commented on #181
I found that the audio playback filters crash when there is >1 audio track.

For instance:
`ffmpeg -f lavfi -i testsrc -f lavfi -i aevalsrc="sin(440*2*PI*t):s=8000:c=stereo" -c:v ffv1 -c:a flac -t 5 -map 0 -map 1 test_1audiotrack.mkv`
display in the audio waveform player, but
`ffmpeg -f lavfi -i testsrc -f lavfi -i aevalsrc="sin(440*2*PI*t):s=8000:c=stereo" -f lavfi -i aevalsrc="sin(10*2*PI*t)*sin

[2016-08-21 21:18] dericed commented on #152
Related to https://github.com/bavc/qctools/issues/162#issuecomment-241279670

[2016-08-21 21:19] dericed commented on #142
Closing for now. @NMAAHC please test on master and reopen if this isn't resolved, but works for me.

[2016-08-22 09:52] richardpl commented on #181
Can not reproduce, @dericed could you try with my debug branch and paste output somewhere?

[2016-09-09 13:30] richardpl commented on #181
OK I fixed crash, but now you don't get any video output. Trying to find where is code that selects audio streams.

[2016-09-09 20:29] richardpl commented on #181
This should be fixed now.

[2016-09-12 15:00] dericed commented on #181
works for me. @kellyhaydon please retest and reopen if there's still a crash

[2016-09-12 15:00] #181 closed

[2016-09-13 09:38] kieranjol commented on #188
I was going to raise a separate issue but I think this is the same one? 10-bit video is now described with 10-bit values but some of the graphs are not scaling and are cutting off the views at 8-bit values.

![screen shot 2016-09-13 at 10 40 32](https://cloud.githubusercontent.com/assets/1127102/18468951/1e87d9f8-799e-11e6-8dd9-8a54650bd426.png)

[2016-09-13 18:59] dericed commented on #188
To recreate, make these two samples:
[code]

{sorry @richardpl no way to use frame number or time as variable in lut).

8bit.mkv and 10bit.mkv should produce ramps in QCTools in the Y, U, and V graphs from min-max. In 8 bit that's 0-255 and 10 bit that's 0-1023 (though the sample uses only multiples of 4 between 0 and 1023). Currently as with @kieranjol's image the 10 bit is plotted from 0-255 so

[2016-09-20 01:39] dericed opened #197 "fix plots with bit depths that are not 8 or 10"
After https://github.com/bavc/qctools/pull/196 the plots do not work with bit depths besides 8 and 10.

[2016-09-20 01:40] dericed commented on #197
See comment at https://github.com/bavc/qctools/pull/196#issuecomment-248178319

[2016-09-20 01:41] dericed commented on #188
Fixed in https://github.com/bavc/qctools/pull/196

[2016-09-20 01:41] #188 closed

[2016-09-20 03:47] dericed opened #199 "use bitdepth as max for bitplane sliders"
There are a few sliders that are to select bit positions and currently set to arbitrary ranges `1-10` or `1-16`. These should be set conditional in a range of `1-bits_per_raw_sample`.

Such as https://github.com/bavc/qctools/blob/master/Source/GUI/BigDisplay.cpp#L408-L410 and https://github.com/bavc/qctools/blob/master/Source/GUI/BigDisplay.cpp#L434 and https://github.com/bavc/qctools/blob/master/

[2016-09-23 15:34] #50 closed

[2016-09-23 16:10] pjotrek-b commented on #50
Looking forward to test this! :grinning:
Thanks @ElderOrb.

[2016-09-23 17:41] ElderOrb commented on #50
Welcome! :)

[2016-09-25 00:53] dericed commented on #80
@kieranjol in that case... I'll close this. Please reopen or clarify if the issue still exists.

[2016-09-25 00:53] #80 closed

[2016-09-25 00:54] dericed commented on #57
closing, based in @richardpl's great work on the graticules

[2016-09-25 00:54] #57 closed

[2016-09-25 00:55] dericed commented on #58
closing, based in @richardpl's great work on the graticules. Also the 470bg locations can be changed to 709 in the latest version.

[2016-09-25 00:55] #58 closed

[2016-09-26 13:31] kieranjol opened #202 "Wishlist - File List View - Sort values in ascending/descending order"
I think that being able to click on a heading and sorting the results in ascending or descending order would be very helpful.

Use case: I was using QCTools earlier to get a quick glimpse at any issues on a delivery of 135 files. being able to sort by descending order for stream count, TOUT count and MSEfY would have been very useful for auditing.

[2016-09-26 14:38] dericed commented on #202
makes sense to me

[2016-09-29 14:06] dericed commented on #162
Closed, thanks @ElderOrb

[2016-09-29 14:06] #162 closed

[2016-09-29 14:07] dericed commented on #152
Closed in https://github.com/bavc/qctools/pull/203. Thanks @ElderOrb

[2016-09-29 14:07] #152 closed

[2016-09-29 14:07] dericed commented on #136
closing, reopen if needed.

[2016-09-29 14:07] #136 closed

[2016-09-29 14:31] retokromer commented on #136
Just confirming that the current version works fine on Ubuntu 14.04 LTS.

[2016-09-29 14:33] dericed commented on #136
thanks @retokromer

[2016-10-04 22:18] dericed commented on #84
Here's a method to reproduce the issue. Make test files via:

[code]

All samples should take 10 seconds (`-t 10`) to play. From a rough test:

- 3fps.mkv takes 6 seconds to play
- 30fps.mkv takes 60 seconds to play
- 300fps.mkv - not patient enough to test

[2016-10-04 22:44] dericed commented on #100
Unable to recreate with latest builds, so closing for now. If the issue persists with the [daily builds](https://mediaarea.net/download/snapshots/binary/qctools/) please reopen.

[2016-10-04 22:44] #100 closed

[2016-10-06 02:34] dericed commented on #145
Closing as I think this issue is covered in https://github.com/bavc/qctools/issues/19.

[2016-10-06 02:34] #145 closed

[2016-10-06 15:25] dericed commented on #44
Fixed in https://github.com/bavc/qctools/pull/204. Please test it in the [daily builds as of 2016-10-06](https://mediaarea.net/download/snapshots/binary/qctools/20161006/).

[2016-10-06 15:25] #44 closed

[2016-10-09 22:03] kellyhaydon opened #206 "Curser and "pink line" are off in the audio graphs"
Hello,

When I select to show the audio graphs and try to use the curser to drag the "pink line" (for lack of terminology), there is a significant delay. The pink line and the curser seem to be about a thousand frames a part.

Kelly

[2016-10-09 22:55] dericed commented on #206
duplicate of https://github.com/bavc/qctools/issues/90

[2016-10-09 22:55] #206 closed

[2016-10-10 18:51] dericed commented on #160
Still unable to recreate. Please test in https://mediaarea.net/download/snapshots/binary/qctools/20161010/QCTools_0.7.2.20161010_mac.dmg and reopen if still an issue.

[2016-10-10 18:51] #160 closed

[2016-10-31 18:44] bturkus opened #208 "diff graphs don't scale for 10-bit video"
Y, U, and V will switch to 0-1023, Diffs stay 0-255

[2016-10-31 18:46] bturkus opened #209 "10 bit documentation overhaul"
there's a general need to update help docs and pop-ups for 10 bit numbers.

maybe a hack day project?

[2016-10-31 18:58] bturkus opened #210 "latest releases not working on OS X 10.6.8"
not sure if this matters, but daily builds (around 10/12) stopped working with 10.6.8

[2016-11-01 14:35] JeromeMartinez commented on #210
We build and test on 10.9 (3-year old), trying to keep compatibility with older versions as much as possible but we don't really test on 10.6.
@g-maxime did you change something which can impact compatibility last month? I tried old version as well as new version on my 10.6, actually I have an error "do not find libc++.1.dylib" in both cases, weird because I can launch MediaConch which also has Qt

[2016-11-01 18:20] g-maxime commented on #210
@JeromeMartinez No, I did not change the compiler options.

[2016-11-01 20:43] bturkus commented on #210
issue's not important for BAVC, I was just generally curious. Thanks for
the info

On Tue, Nov 1, 2016 at 11:20 AM, Maxime Gervais <notifications@github.com>
wrote:

--

*Ben Turkus **| **Preservation Project Manager*
*415.558.2158 **|** benturkus@bavc.org <benturkus@bavc.org> *

*Join BAVC in celebrating four decades of empowering storytellers. *
*www.bavc.org/events/big-4-oh <https://bavc.org/ev

[2016-11-01 23:13] kellyhaydon commented on #210
Hi Jérôme - I'm on a slow network right now so I haven't checked, but in
the past I remember there's been documentation that QCtools works with 10.6
operating systems.
If that is still the case, I'm happy to make the updates when I get back to
work tomorrow. I'll just need confirmation on what the earliest compatible
version is.

Kelly

*Kelly Haydon | Preservationist*
*415.558.2158 <http://415.55

[2016-11-02 12:11] JeromeMartinez commented on #210
Kelly, actually I don't know when we "broke" the compatibility, maybe when we changed our build server but I don't remember when we did it.
bturkus says that earlier versions last month work, but I am not able to test (the 10.6 I have launches none of the versions last month).
We plan to review the build process, but I can not say when (it is low priority as it is not important for BAVC right now)

[2016-11-02 19:32] #208 closed

[2016-11-03 12:42] kieranjol opened #212 "Wish - batch import video files recursively"
I often create qctools.xml.gz files in advance for multiple video files in various subfolders. It would be great if I could just drag and drop the parent folder into qctools and it will find all files in the subdirectories. I recently realised that Mediaconch has this feature and it is very useful.

An obvious issue is that if the xml files do not already exist, it will result in graphs created fo

[2016-11-03 13:34] dericed commented on #212
+1

[2016-11-03 15:11] kieranjol opened #213 "Wishlist - Add Screenshots"
I frequently use QCTools to process large batches of items from in-house digitisation and from external vendors. I often create reports to be processed by managers or vendors, and I find that i often take screenshots in the player mode - showing things like image + waveform, image +vectorscope, and occasionally the graph views as well. It's very handy as it also includes the timestamps as well.

I

[2016-11-04 09:02] pjotrek-b commented on #213
What about Alt+PrintScreen?

[2016-11-04 09:12] kieranjol commented on #213
Aye, . I'm just thinking of convenience down the line.

On 4 Nov 2016 9:02 a.m., "Peter B." <notifications@github.com> wrote:

[2016-11-04 09:24] kieranjol commented on #213
Closing as main reason I wanted this is that I've seen people unfamiliar with either osx/linux/windows unable to take screenshots, so one button for all operating systems would be handy. However a Google search usually educates so closing this

[2016-11-04 09:24] #213 closed

[2016-11-05 00:33] kellyhaydon opened #214 "Wishlist: Go To Timecode/Frame Number feature"
In Mpeg streamclip you can hit Command+G and enter a timecode or frame number and go straight to that moment in the video. Our QC workflow would benefit from a similar feature in the graph, where the curser could bump to the entered time rather than scrolling to find the moment.

[2016-11-05 00:37] kellyhaydon opened #215 "Wishlist: Save Playback settings for next file"
All playback settings hop back to the default settings every time a new file is opened. It'd be great if there was a way to save my settings - but that might require a user account?

[2016-11-06 14:02] pjotrek-b commented on #83
Related to #30.

[2016-11-06 14:04] pjotrek-b commented on #214
Related to #30 and #83 ?

[2016-11-06 23:22] kellyhaydon commented on #214
It is! Looks like the timecode request is still open, I'll close this ticket.

[2016-11-06 23:22] #214 closed

[2016-11-06 23:23] kellyhaydon commented on #214
Closed do to TOO MANY duplicate requests.

[2016-11-07 15:53] pjotrek-b opened #216 "Graph window is cut off on screens < 1354px width"
Since audio graphs were added (which is great, btw), the graph window is cut-off on screens with resolution of less than 1354px width.

It's not a major issue, but it prevents QCTools being used properly on smaller computer screens.
My checking-screen is 1280x1024, therefore I noticed.

I guess it's the checkboxes for graphs to display which defines the minimum width.
If this panel could line-brea

[2016-11-14 13:36] JeromeMartinez commented on #210
OK, we finally found the source of the issue for Mac OS 10.6.
Current version of QCTools uses some C++11 features, but Mac OS 10.6 does **not** support the C++11 library. Some time ago when we faced a compilation issue with a C++03 config, we switched to C++11 config and did not remark that it breaks Mac OS 10.6 compatibility.
We changed some parts of the code in order to remove C++11 (we use C++0

[2016-11-14 21:39] glwhicks opened #218 "qctools Version 7.3 for Windows is crashing or not responding"
Hi all! AMIA was fantastic! Great to see the qctools presentations and meet everybody. I downloaded Version 7.3 for Windows before I left for Pittsburgh on our machines and was eager to get get started Qcing with my new found knowledge, but alas, most of the press files(.mkv) have caused the program to either crash or simply not respond. I did get one file to open. We use: Dell computers running W

[2016-11-14 21:42] dericed commented on #218
Thanks Glenn. Can you run `ffmpeg -i ON_YOUR_CRASHY_FILE.mkv` and post the results here, so we can recreate this. Is there a particular point where it crashes (before graphing, when opening player, etc)?

[2016-11-14 21:44] glwhicks commented on #218
I'll try running the ffmpeg tomorrow, but it crashes before anything comes up on the screen, so before graphing.

[2016-11-14 21:48] dericed commented on #218
Also you could try opening QCTools, go to the preferences and deselect some of the filters, then open the file. Possible that the combination of filter and file is the issue.

[2016-11-14 22:08] dericed commented on #210
@JeromeMartinez any reason to suspect https://github.com/bavc/qctools/issues/218 is related?

[2016-11-15 16:40] bturkus commented on #210
Works for me. Thanks!

On Mon, Nov 14, 2016 at 5:36 AM, Jérôme Martinez <notifications@github.com>
wrote:

--

*Ben Turkus **| **Preservation Project Manager*
*415.558.2158 **|** benturkus@bavc.org <benturkus@bavc.org> *

*Join BAVC in celebrating four decades of empowering storytellers. *
*www.bavc.org/events/big-4-oh <https://bavc.org/events/big-4-oh>*

*Support BAVC today. *
*www.bavc.org/donat

[2016-11-15 16:44] JeromeMartinez commented on #210
No, this is at start (missing libs), for Mac only (on Windows we can statically link the C++11 library).
the crash from 218 is more a memory corruption due to bad code (I bet it is mine... :(, but not easy to see where without being able to reproduce the crash at home)

[2016-11-16 16:35] dericed commented on #199
The `1-bits_per_raw_sample` applies to the bit position slides of `Bit Plane` and `Bit Plane Noise` and `Bit Plane Noise Graph`

[2016-11-16 16:42] dericed commented on #197
Actually, I think it is somehow already resolved. Samples like `ffmpeg -f lavfi -i mandelbrot -pix_fmt yuv422p16le  -t 10 -c:v ffv1 16bit.mkv` appear to work properly.

[2016-11-16 16:42] dericed commented on #97
Closing as graphs can now be re-ordered.

[2016-11-16 16:42] #97 closed

[2016-11-16 16:44] dericed commented on #84
@pjotrek-b, please re-test with latest build. https://mediaarea.net/download/snapshots/binary/qctools/

[2016-11-16 16:52] dericed opened #219 "sync qctools xml output with ffprobe"
The output of QCTools for a 2 frame sample (made via `ffmpeg -f lavfi -i mandelbrot -f lavfi -i sine -pix_fmt yuv420p -vframes 1 -c:v ffv1 sample.mkv`) looks like

[code]

but the output of ffprobe via `ffprobe -f lavfi -i "movie=sample.mkv:s=v+a[in0][in1],[in0]signalstats=stat=tout+vrep+brng,cropdetect=reset=1,split[a][b];[a]field=top[a1];[b]field=bottom[b1],[a1][b1]psnr[out0];[in1]ebur128=metada

[2016-11-16 18:10] iwsundstrom commented on #218
Hi, this is Ian Sundstrom, working with Glenn at MDPI. I ran a .mkv that cannot open in QCTools through FFMPEG, and it completed without any errors. Here is a report log from running the file through FFMPEG:
[ffmpeg-20161116-115854.zip](https://github.com/bavc/qctools/files/595496/ffmpeg-20161116-115854.zip)
I also tested the file using the different filters in preferences, but the file still caus

[2016-11-16 18:21] dericed commented on #218
Extract of log:

[code]

[2016-11-16 18:22] kellyhaydon opened #220 "Wishlist: Ability to pause processing and restart later"
It happens sometimes that in the middle of processing files, I suddenly I need to use the computer for something else. It'd be great to be able to halt processing temporarily.

[2016-11-17 04:27] audiovisualopen opened #221 "Wishlist- Ability to compare 2 files and apply the temporal difference filter"
This would be an obvious method to see differences in encoding and compression. Great for seeing differences between lossless and lossy.

[2016-11-17 20:26] ElderOrb commented on #218
Crash is not reproducible on my Windows 10 x64. Is it possible to produce crash dump or provide me with sample video causing crash ?

[2016-11-17 20:42] ElderOrb commented on #218
Here are the steps for producing crash dump:

1. Download procdump from here: https://technet.microsoft.com/en-us/sysinternals/dd996900.aspx
2. Extract into any folder you like
3. Launch cmd.exe, navigate to the procdump folder
4. From command line execute the following: procdump.exe -e -ma -w qctools.exe
5. Make qctools.exe to crash, dump should be created inside the procdump folder

[2016-11-17 20:50] glwhicks commented on #218
??Thanks for looking into this. Here's some additional information: The files we are QCing are 45Gb to 95Gb (1.5 hours to 4 hours in content length)in size, possibly making it difficult to provide you with a sample file, in addition to us not being permitted to share the files outside of our lab. More often than crashing, the program just won't respond. We've never been able to successfully load a

[2016-11-17 21:14] iwsundstrom commented on #218
Here's a procdump for a different file. The file I used for the FFMPEG log wouldn't cause QCTools to crash today (it would simply not respond to being dragged into the program), and thus couldn't produce a procdump, so I opted for one that was causing a crash.

Here is the file: https://www.slashtmp.iu.edu/files/download?FILE=isundstr%2F96274TJlbiI
The password is: qctools2016

[2016-11-17 21:15] dericed commented on #218
This command provides a close sample to @iwsundstrom except I'm not exactly sure how to replicate the 1/1000 timebase that file uses.

`ffmpeg -f lavfi -i mandelbrot=s=720x486:r=29.97 -f lavfi -i sine -f lavfi -i sine -f lavfi -i sine -f lavfi -i sine -pix_fmt yuv422p10le -c:v ffv1 -aspect 4/3 -c:a pcm_s24le -ar 48000 -map 0 -map 1 -map 2 -map 3 -map 4 -vf settb=expr=1/1000 -af asettb=expr=1/1000

[2016-11-17 21:16] dericed commented on #218
@glwhicks You could probably just cut the first 100 MB off an example to replicate the issue.

[2016-11-17 21:16] iwsundstrom commented on #218
We usually only use signalstats and PSNR filters, however, when you suggested testing a variety of different ones, we did so and QCTools still always crashed.

[2016-11-17 21:23] dericed commented on #218
ok, i was suspicious of the audio, but apparently you're not even using that.

[2016-11-17 21:42] glwhicks commented on #218
?I was wondering about that as well, Dave. However, we've never been able to see the audio graph populate with any video format. My theory is the .mkv format might be the issue.

The VHS files have four channels of audio, 2 linear and 2 hi-fi. Might that be causing some problems, perhaps? However, I have a 47Gb(1hr 2mins) UMatic file with only two channels of audio that doesn't respond either.

Gl

[2016-11-18 07:53] ElderOrb commented on #197
I noticed that for a few samples bits_per_raw_sample was zero. Could it be the reason for this issue?

[2016-11-18 08:47] ElderOrb commented on #218
Thank you for the dump provided, looking at this. Could you please also check if the latest qctools snapshot behaves in the same way?

[2016-11-18 15:03] dericed commented on #218
@JeromeMartinez created a debug version of the Windows build at https://mediaarea.net/temp/QCTools_0.7.3.20161118_Windows_i386_WithDebugInfo.zip. This contains the exe and the corresponding pdb file. @glwhicks @iwsundstrom could you re-test with this version.

[2016-11-21 16:00] glwhicks commented on #218
I just tried the debugged version and the first file I dropped into it crashed it. It was a 55Gb .mkv file

[2016-11-21 16:28] kellyhaydon commented on #218
I'll give it a test on our Windows machine today and see if I get the same
results.

On Mon, Nov 21, 2016 at 8:00 AM, glwhicks <notifications@github.com> wrote:

--

*Kelly Haydon | Preservationist*
*415.558.2158 <http://415.558.2158> | kelly@bavc.org
<kelly@bavc.org> | @bavcpreserve <https://twitter.com/BAVCPreserve>*

Archivists can use the power of archives to promote accountability, open
gover

[2016-11-21 20:58] ElderOrb commented on #218
@glwhicks Could you please collect crash dump for debug build? Release dump didn't reveal any obvious reasons for crash..

[2016-11-21 21:47] ElderOrb commented on #218
@JeromeMartinez it is possible to produce 64bit build for Windows? Just thinking this random crashes could be 'out of memory' exception.

[2016-11-21 22:08] kellyhaydon commented on #218
I am loading a 40gig ffv1/mkv video file into the debugged Windows build
and so far no crashing (though it is slow but that is probably my machine).
OS is Windows 7 Professional, 64 bit.

Audio seems to be loading normally.

Not sure if this is relevant, but I do have an MDPI qctools report that
doesn't work at all in the recent Windows build, the application doesn't
crash but the graphs do not lo

[2016-11-21 22:24] JeromeMartinez commented on #218
We already provide 64-bit builds, look at "Windows_x64" in the [snapshots](https://mediaarea.net/download/snapshots/binary/qctools).
For example [Windows 64-bit 20161116](https://mediaarea.net/download/snapshots/binary/qctools/20161116/QCTools_0.7.3.20161116_Windows_x64_WithoutInstaller.zip).

For official release, the Installer has actually only 32-bit version despite the "Universal" name, but th

[2016-11-21 23:50] ElderOrb commented on #218
Could be... But so far I managed to reproduce crash only in two cases:
1. Out of memory with ~20 ~5Gb mkv files (32 bit version only). Crashed after several seconds after opening files.
2. Access violation on attempt to open incomplete mkv. But in this case qctools crashed nearly immediately on opening file.

[2016-11-22 00:49] dericed commented on #218
@kellyhaydon can you share the mdpi xml?

[2016-11-22 00:53] kellyhaydon commented on #218
I'm not sure I can here - @glwhicks <https://github.com/glwhicks>?

But the file is in our shared "qctools 2.0" google doc.

On Mon, Nov 21, 2016 at 4:49 PM, Dave Rice <notifications@github.com> wrote:

--

*Kelly Haydon | Preservationist*
*415.558.2158 <http://415.558.2158> | kelly@bavc.org
<kelly@bavc.org> | @bavcpreserve <https://twitter.com/BAVCPreserve>*

*Support BAVC today. *
*www.bavc.org/

[2016-11-22 15:53] pjotrek-b opened #223 "Long files: xml.gz won't load"
When dealing with long video files (like >2 hours), pre-calculated graphdata in .xml.gz won't load.
The CPU load shows that QCTools is processing, but no graph is shown.

After waiting quite a while, the CPU load drops to 0 (so it seems QCTools has unpacked and loaded the XML) - but then nothing happens :(

The following file was created after waiting for the graph be calculated and then exported

[2016-11-22 15:57] glwhicks commented on #218
My associate Ian, will be in tomorrow to provide the requested crashdump. In the meantime, here is the requested XML. In addition I'm providing the QCTools report generated by Memnon. Perhaps this might provide some insight:
https://slashtmp.iu.edu/files/download?FILE=glwhicks%2F46627HHrzl0
pw= MDPIXMLfile

https://slashtmp.iu.edu/files/download?FILE=glwhicks%2F15154X03p67
pw= MDPIQCToolsreport

[2016-11-22 15:58] pjotrek-b commented on #223
Same behavior on Linux (Xubuntu 12.04 64bit).
Here's a screenshot what it looks like while it's "trying to load" to xml.gz in the background:
![qctools_073-loading_precalculated_wont_work](https://cloud.githubusercontent.com/assets/2419195/20530781/c7af4c56-b0d4-11e6-99a8-42c1ab2c43bd.png)

[2016-11-22 15:58] glwhicks commented on #218
To be clear, the provided XML and QCTools report are from a file that crashed the program

[2016-11-22 22:49] dericed opened #225 "U* V* and SAT* are all plotted as a value equal to YMAX"
Recent bug introduced after 0.7.3 release.

[2016-11-22 23:00] dericed commented on #225
I think the regression is in https://github.com/bavc/qctools/commit/6b0a6e9370eb7a8a08a065a1ae42421cff817e9f

[2016-11-22 23:21] dericed commented on #225
closed via https://github.com/bavc/qctools/issues/226

[2016-11-22 23:21] #225 closed

[2016-11-22 23:27] dericed commented on #219
priorities to add
[code]

[2016-11-22 23:38] dericed opened #227 "add QCTOOLS_USE_BLACKMAGIC option to make"
disable by default.

[2016-11-23 00:18] dericed commented on #221
Sounds interesting, I suppose we'd need an adjustment to both the graph view and the player view: to show graphs over time based on too averaged videos and similar for the player. Would also have to manage the offset between the two.

[2016-11-23 00:19] dericed commented on #202
fixed in https://github.com/bavc/qctools/issues/217, thanks @kieranjol and @ElderOrb

[2016-11-23 00:19] #202 closed

[2016-11-23 00:22] dericed commented on #94
related to https://github.com/bavc/qctools/issues/219#issuecomment-262396891 as adding frame/@pict_type to ffmpeg_glue would make it easier to write in the player.

[2016-11-23 00:23] dericed commented on #19
added in https://github.com/bavc/qctools/commit/ce18a73b6d33f0ca4ddf94f96c3bca479157b70a. @pjotrek-b, please test and re-open if not what you meant.

[2016-11-23 17:27] iwsundstrom commented on #218
Here's a crash dump using the debug version of QCTools. The file used to crash it is the same one as the file Glenn has posted the XML for directly above this post.

https://slashtmp.iu.edu/files/download?FILE=isundstr%2F32112Lg5qql
pw: MDPICrashDump

[2016-11-23 20:02] ElderOrb commented on #218
Call stack from the last dump file:

00328648 00fc3294 0000000d 00000009 00328f14 QCTools!QClipData::initialize+0x8d
0032868c 00fcb828 05384ae8 00000056 00000007 QCTools!storePixels<5>+0x1354
00328f14 00fcd14c 0518d09c 00000400 00000020 QCTools!QRasterPaintEngine::alphaPenBlt+0x4e8
0032903c 00fd696d 05397360 00329080 00fd0eba QCTools!QRasterPaintEngine::drawCachedGlyphs+0x41c
00329070 00fd0eba 00f

[2016-11-23 20:16] ElderOrb commented on #218
Here are the steps for configuring application verifier:

1. Download & launch application verifier
2. Add qctools.exe to applications list, then select 'basics' in test area and press save to apply changes

![image](https://cloud.githubusercontent.com/assets/23638/20577235/84602c0a-b1d2-11e6-8a06-e62681cad742.png)

3. Launch qctools & procdump, produce another dump - this time qctools should work

[2016-11-26 15:17] ElderOrb commented on #94
https://github.com/bavc/qctools/pull/231

[2016-11-27 23:26] dericed commented on #94
fixed in https://github.com/bavc/qctools/pull/231

[2016-11-27 23:26] #94 closed

[2016-11-27 23:52] dericed opened #232 "add graphs for pkt_duration_time & pkt_size"

[2016-11-28 22:32] ElderOrb commented on #199
#233

[2016-11-29 23:41] ElderOrb commented on #223
@pjotrek-b: The xml file inside the archive attached is corrupted:

        <frame media_type="video" key_frame="1" pkt_pts_time="3664.0000000" pkt_duration_time="0.0400000" width="720" height="576">
            <tag key="lavfi.signalstats.YMIN" value="0"/>
            <tag key="lavfi.signalstats.YLOW" value="39"/>
            <tag key="lavfi.signalstats.YAVG" value="118.779"/>
            <tag ke

[2016-11-30 00:29] dericed commented on #199
fixed by https://github.com/bavc/qctools/pull/233

[2016-11-30 00:29] #199 closed

[2016-11-30 09:25] pjotrek-b commented on #223
Thanks for pointing that out!

Calculating the graphs took like forever (Using QCTools, not ffprobe) - but I'm pretty sure I waited for calculation to finish, before saving.

Yet, I do agree that it might be nice if QCTools would issue a warning :smiley:

Maybe having progress-feedback when dealing with longer files would be possible:
  * Progress indicator writing/gzipping the data?
  * Progress

[2016-11-30 15:08] iwsundstrom commented on #218
Here's another dump produced using the same file as before, with Application Verifier installed and set up, and using QCTools Debug.exe:
https://slashtmp.iu.edu/files/download?FILE=isundstr%2F58699uuKnih
pw: MDPICrashDump2

With this crash, the file was dragged into QCTools twice, without it crashing or responding in any way (but each did produce an exception in cmd). The third time I opened the f

[2016-11-30 22:13] ElderOrb commented on #218
Unfortunately debug symbols doesn't match.

Debug QCTools is:
Timestamp:        Fri Nov 18 12:21:26 2016 (582EC816)
CheckSum:         01846681
ImageSize:        01FA8000
File version:     0.7.3.41566
Product version:  0.7.3.41566

... and QCTools used during producing dump is:
Timestamp:        Tue Oct 11 06:36:00 2016 (57FC5E20)
CheckSum:         018393CC
ImageSize:        01F97000
File version:

[2016-11-30 22:37] ElderOrb commented on #223
How much faster ffprobe is? Looks like QCTools needs to be profiled for performance in this area.

[2016-12-01 09:56] kieranjol opened #236 "Saturation highlight playback filter doesn't scale to 10-bit"
Hi, I'm using El capitan with the QCTools_0.7.3.20161129_mac.dmg build.
I have some 10-bit captures where the SATMAX value goes up to 504. The MAX value for the Saturation Highlight filter is 182. I think this might be the last filter that requires scaling for > 8-bit?

Best,

Kieran.

[2016-12-01 14:16] iwsundstrom commented on #218
My apologies, I must have accidentally opened the regular version of QCTools from the taskbar when attempting to crash it repeatedly. This dump is definitely from the debug version:
https://slashtmp.iu.edu/files/download?FILE=isundstr%2F7119942gXQr
PW: MDPICrashDump3

As for the snapshot, I downloaded it and was able to crash it. Did you want an additional dump from that build or just to verify th

[2016-12-01 14:58] ElderOrb commented on #218
Yes, please! It could crash due to different reason

[2016-12-01 15:10] iwsundstrom commented on #218
No problem. Here's the snapshot crash dump:
https://slashtmp.iu.edu/files/download?FILE=isundstr%2F32764bnGisb
PW: MDPICrashDump4

[2016-12-01 22:02] ElderOrb commented on #218
Thank you! This time dump revealed potential reason for the crash - seems like you have xml.gz file for the video you are opening and this might be corrupted. If you really have xml.gz - could you please provide it for reviewing? Also, if this is the case, please try to rename this file or move to another folder and try to reopen video.

[2016-12-05 00:01] audiovisualopen commented on #221
I agree with your comments Dave. This would be a very powerful feature for an archive, as anything similar like a Picture Quality Analyser hardware/software can be expensive and complicated to run.

From: Dave Rice [mailto:notifications@github.com]
Sent: Wednesday, 23 November 2016 11:19 AM
To: bavc/qctools <qctools@noreply.github.com>
Cc: Andrew Martin <andrew@damsmart.com.au>; Author <author@nor

[2016-12-05 00:12] kieranjol commented on #221
+1 - it could also  be great to compare captures of the same tape on different decks to help figure out which produces a more satisfactory image. OR perhaps compare the output of a BetaSP from a digibeta deck with internal a2d vs a native BetaSP deck with external a2d or things like that.

[2016-12-05 11:53] kellyhaydon commented on #221
+2

Slightly off topic but I'm curious - is it possible to devise an ffmpeg
script that will open and play two files in a directory at the same time,
and with the temporal difference filter? It would be beneficial to add
to ffmprovisr.

On Sunday, December 4, 2016, kieranjol <notifications@github.com
<javascript:_e(%7B%7D,'cvml','notifications@github.com');>> wrote:

--

*Kelly Haydon | Preservati

[2016-12-05 13:17] retokromer commented on #221
Hi @kellyhaydon I’ll add this to the ffmprovisr wish list.

[2016-12-06 16:36] glwhicks commented on #218
Here is a link to download the xml.gz file:
https://slashtmp.iu.edu/files/download?FILE=glwhicks%2F15154X03p67
pw= MDPIQCToolsreport

[2016-12-06 18:19] glwhicks commented on #218
Ah ha! I moved the xml.gz file to a different folder. I loaded the file into QCTools, and presto it's starting to populate the graphs, even the audio graph!
Using the xml.gz file I provided in the previous link, might you be able to help pinpoint the area of corruption within the xml.gz report? This will help us to communicate to the script writers on our end where to look for the problem. Thanks!

[2016-12-06 18:47] ElderOrb commented on #218
Hmm... Interesting, from the first look file seems to be ok, moreover I managed to open it successfully using x64 build. So it really looks like out of memory. Could you please check 64 bit snapshot?

[2016-12-06 18:53] glwhicks commented on #218
Ian will be in the lab tomorrow, so I'll have him do that. I've never been able to get the audio graph to populate with a ffv1 file(ever!), so I do think we're on to something here. In addition, the size of the file is significantly larger than files that have caused QCTools to not respond or crash. Kelly Haydon mentioned a while back, the possibility of the xml.gz file being responsible for the n

[2016-12-06 18:57] dericed commented on #218
Does

mean

?
If so then your xml.gz just wasn't created with any audio data.

[2016-12-06 18:58] ElderOrb commented on #218
Just tried 32bit build under debugger - now I'm 100% sure this is out of memory. First qctools allocated 564029759 bytes for a buffer to extract xml.gz file, and then it tried to create std::string from buffer (which means allocation of at least 564029759 one more time) - and this time allocation failed.

[2016-12-06 19:04] glwhicks commented on #218
Yes, Dave, correct. Never with a neighboring xml.gz file.
 @ElderOrb, I'm not a code type person, might you be able to translate what you just said. I think I understand, but I'm not sure. Thanks!

[2016-12-06 19:06] ElderOrb commented on #218
@glwhicks just try x64 version from here - http://old.mediaarea.net/download/snapshots/binary/qctools/20161204/ - should fix the issue

[2016-12-06 19:11] glwhicks commented on #218
Okay! Thanks so much for all the great input!

[2016-12-06 19:30] ElderOrb commented on #218
Welcome! but please keep in mind the link provided is not released version, but development snapshot.

[2016-12-07 09:07] JeromeMartinez commented on #218
There is still some 32-bit Windows there (Microsoft did not "kill" 32-bit as Apple did for macOS, and there is unfortunately a 32-bit version of Windows 10), so I provide the default installer in 32-bit in order to be compatible with all versions of Windows. Providing several .exe is sometimes a source of confusion for end user who does not know what is 32 and 64-bit, so this is a policy to provid

[2016-12-07 14:29] iwsundstrom commented on #218
Unfortunately, I just ran the x64 version of QCTools and it crashed while trying to open the test file with it's xml.gz. Is there a debug version of x64 QCTools that I can use to send another crash report?

[2016-12-07 16:46] ElderOrb commented on #218
https://www.google.com/url?q=https%3A%2F%2Fmediaarea.net%2Ftemp%2FQCTools_0.7.3.20161207_long_xml_load_error_223_Windows_x64_WithDebugInfo.zip&sa=D&sntz=1&usg=AFQjCNELQJ5CrD8JGu5mGvh99Cs7eD4msA

[2016-12-07 16:53] iwsundstrom commented on #218
This version is giving me an error when I try to open it:
![error_3](https://cloud.githubusercontent.com/assets/23506921/20977494/c4624878-bc73-11e6-96a5-f39d9bf5ced7.jpg)
Any thoughts?

[2016-12-07 18:52] iwsundstrom commented on #218
In addition, we just tested moving the xml.gz file out of the folder and opening our large test file. It reached completion and generated all the graphs without any problems. We then decided to test "Export->To .qctools.xml.gz" to create a new xml.gz file. Our plan was to close QCTools and open the test file with the freshly generated xml. However, QCTools crashed when we tried to do the export. N

[2016-12-07 20:33] JeromeMartinez commented on #218
Any thoughts?

Due to a problem when we applied our patches for release to this branch.
New file: https://mediaarea.net/temp/QCTools_0.7.3.20161207_long_xml_load_error_223_fixed_Windows_x64_WithDebugInfo.zip

[2016-12-07 21:04] iwsundstrom commented on #218
Great, thanks. Here's the crash dump produced with that version:
Link: https://slashtmp.iu.edu/files/download?FILE=isundstr%2F23516BNOIgr
pw: MDPICrashDump5

[2016-12-07 22:41] ElderOrb commented on #218
Just checked version @JeromeMartinez provided - and managed to open MDPI_40000001519547_01_pres.mkv.qctools.xml.gz with no crash on Windows 10.

@iwsundstrom Did you use the same xml.gz file @glwhicks  posted ? If different - could you please provide that file?

[2016-12-08 11:09] JeromeMartinez commented on #218
With the build at #218 (comment), I have sometimes a "Out of memory! Please try 64bit build." message despite the fact I run the 64-bit version, or a crash, depending of how loaded (RAM usage) is my machine.
I propose an [alternative patch for fixing this issue](https://github.com/bavc/qctools/pull/243).

[2016-12-08 13:48] iwsundstrom commented on #218
@ElderOrb Same file with xml.gz, and the crash is from an import with the x64 debug version provided by Jerome. The "export" story was just an additional note that I thought might be helpful.

[2016-12-08 19:51] ElderOrb commented on #218
@iwsundstrom How much memory do you have on this machine? While switching to 64bit could help (just because it allows to use more than 4Gb), it will not help if you don't have enough memory or memory is heavily fragmented. QCTools definitely requires some optimizations and @JeromeMartinez already started optimizing xml parsing. So maybe makes sense to check his version if he can provide a link

[2016-12-08 19:54] iwsundstrom commented on #218
@ElderOrb It has 16GB of RAM. I'm excited to test the optimized version as it does sound like XML parsing is problem.

[2016-12-08 20:00] ElderOrb commented on #218
How much free memory do you have when get a crash ? Besides the lack of memory it might also be related to memory fragmentation, which is different story. Also, you have video file, correct? Which mean as the result of opening xml.gz thumbnails being generated and they also can consume a lot. Could you please make simple experiment and move/rename video file and then open xml.gz last 64bit debug v

[2016-12-08 20:12] iwsundstrom commented on #218
In regards to how much memory is used during a crash: Before I open a file I am using about 3.4 GB. During opening the memory builds up to about 9.8 GB used max, wavering up and down between there and lower. This is while opening the video file with the XML.gz beside it.

As for the test of just opening the XML.gz (without the video or thumbnails), that worked. The file successfully opened and pop

[2016-12-08 20:18] JeromeMartinez commented on #218
This is already the case when there is no sidecar .gz file (graph is populated in another thread), it could be implemented also for loading the .gz, the proposed patch is in this direction (there is some "hooks" for being able to display some info to the user), but having the progress bar has IMHO some impact in the workflow, it is more development time :(.

[2016-12-08 20:30] ElderOrb commented on #218
We can leave importing in the UI thread and add progress bar (QApplication::processEvents trick). Because I absolutely agree, during importing huge files progress bar is 'must have' thing

[2016-12-09 01:12] dericed commented on #87
@pjotrek-b please re-test in latest build https://mediaarea.net/download/snapshots/binary/qctools/

[2016-12-09 07:55] JeromeMartinez commented on #218
New snapshot:
https://mediaarea.net/temp/QCTools_0.7.3.20161208_UncompressByChunks_Windows_i386_WithDebugInfo.zip

[2016-12-09 07:57] JeromeMartinez commented on #218
I guess it is a good first step.
I was more thinking to have the .gz parsing in a separate thread, in order to let the user drag n drop more files, navigate in the software... As he does when a file is processed. 2nd step.

[2016-12-10 15:18] retokromer opened #244 "Compiling on other operating systems than macOS"
There is still the error message

However, Xcode is not necessary, as any modern compiler should be able to compile from the source. Making Xcode not compulsory would simplify the installation on Linuxes and Windows.

[2016-12-10 15:32] JeromeMartinez commented on #244
Where do you have this message?
Xcode is not compulsory and we [deliver Windows and Linux builds from day 0](https://mediaarea.net/download/snapshots/binary/qctools/), using GCC directly or Visual C++.

[2016-12-10 15:38] dericed commented on #244
IIUC this message is not associated with an installer but when building it.

[2016-12-10 15:44] retokromer commented on #244
Yes, @dericed is right: it's not related to a build. Sorry for being unclear.

The context: I'm trying to prepare a full package for the next SEAPAVAA conference, which includes QCTools. And I would like to be able to compile it on the different situations present in South-East Asia, without having to install each software individually.

[2016-12-10 16:06] JeromeMartinez commented on #244
Sorry, but I don't get it: Xcode is not used for builds, at least mines (did the scripts in the BAVC repo changed on this side and request Xcode now?). And the packages we provide are standalone (for macOS this is a .app inside the .dmg and the .app which can be moved everywhere, for Windows we provide a .7z easy to decompress everywhere, the only issue is Linux and we are currently working on .Ap

[2016-12-10 16:14] dericed commented on #244
Possibly an error with qt5 via linuxbrew. @retokromer when running `qmake -v` do you get?
[code]

[2016-12-10 16:18] retokromer commented on #244
I’ll keep you updated, @JeromeMartinez. So far I was able to compile vrecord on Intel Nuc running on both Ubuntu and Windows, and I’m confident that I can find a way for QCTools too. My idea is to have just one script that install all what we need for the workshop on all the different computers. (I do the same internally in my company, because in my opinion this is the easiest way for both the fir

[2016-12-10 16:19] retokromer commented on #244
No, I don’t, @dericed. Thank you for the hint!

[2016-12-10 16:20] JeromeMartinez commented on #244
It would be great if the script is released and open source ;-).

[2016-12-10 16:21] retokromer commented on #244
That’s exactly the idea!

[2016-12-10 16:39] retokromer commented on #244
@dericed Now it's installed!
[code]
Now I should be alble solve it myself. Thank you!

[2016-12-10 16:43] dericed commented on #244
Thanks, please close issue if resolved or suggest any documentation updates that may help others in this situation.

[2016-12-10 16:46] retokromer commented on #244
OK

[2016-12-10 16:46] #244 closed

[2016-12-14 14:10] iwsundstrom commented on #218
Sad to report that the new snapshot still crashes.  Here's a crash dump:
Link: https://slashtmp.iu.edu/files/download?FILE=isundstr%2F51958E89DwA
Pw: MDPICrashDump6

[2016-12-14 17:01] ElderOrb commented on #218
Based on what I see in the dump, this time 'access violation' happened inside 'ModifyOutput' function, which is used during video parsing, so this is not lack of memory but something different. Unfortunately I don't have that video (and don't even have such a big video right now), @dericed any help on generating such a long video with the same characteristics?

Also I noticed you still have applic

[2016-12-14 17:15] iwsundstrom commented on #218
I disabled Application Verifier and was able to open the test file very quickly. I retried it multiple times (closing QCTools and opening it again) and it worked every time. I also tried using the snapshot to open other long videos that haven't worked with previous versions and was successful there to. It appears the issue has been fixed and that Application Verifier caused the previous crash! Tha

[2016-12-15 00:21] dericed opened #245 "exporting xml.gz includes cropdetect and idet filters data even when not used."
To recreate, open preferences and unselect cropdetect and idet, then open a file and export xml. It will include zeroed out data for those filters anyway.

[code]

[2016-12-18 20:11] dericed opened #246 "update docs for pkt_size and pkt_duration_size"
in response to https://github.com/bavc/qctools/pull/234

[2017-01-11 19:52] kellyhaydon commented on #227
+1 - with QCcapture incomplete, this makes lotsa sense

[2017-01-13 21:35] bturkus opened #252 "xml file not found error when trying to upload to signalserver"
I can only get files uploaded to signalserver when I have automatic selected. when I try the manual upload button, I get a xml file not found error.

[2017-01-14 16:15] ElderOrb commented on #252
In current implementation when 'auto-upload' is selected it will either use existing stats file or produce temp one silently, but this is not the case for manual uploading. Currently only existing stats files can be uploaded, so you need to produce stats file first.

It was implemented in such a way because I had no answers to the following questions:

1) What should be right behavior? Should we g

[2017-01-17 17:19] briancash opened #255 "QC Tools crashes when trying to play back .wav file"
Hi,

I'm using El Capitan and using using the latest build from today - when I try and load in wav files the application crashes as it seems to be looking for video content.

Here is a media info from a file I tried:
macminis-mini:~ macmini$ mediainfo /Users/macmini/Documents/delete_me_kieran_clancy_testing/Liam_Clansy_Collection-2_IFA\(RD\)-2016-190_25Fps.L.wav
General
Complete name

[2017-01-17 17:42] kieranjol commented on #255
I tried on El Capitan as well on a different computer. To be more specific, it seems like clicking on a thumbnail is what triggers a crash. You can press play and the play head on the graph view just skips to the end.
Just for fun, I remuxed the PCM into a MKV wrapper and the behaviour was the same. Adding a video stream resulted in correct playback.
I know that this is going beyond the scope of Q

[2017-01-17 18:10] dericed commented on #255
QCTools currently expects some video associated with the file. To get qctools to work for audio, we'll have to add a bunch of conditionals everywhere to adjust behavior.

[2017-01-17 18:13] ablwr commented on #255
audio audio audio audio

[2017-01-17 18:15] kieranjol commented on #255
I'm considering a workaround batch script that adds Mandelbrot video and
copies the PCM into a MKV :)

On 17 Jan 2017 18:13, "Ashley" <notifications@github.com> wrote:

[2017-01-17 18:25] retokromer commented on #255
Just a very small neutral grey should be sufficient for this purpose.

[2017-01-17 18:27] ablwr commented on #255
You can use this and use @retokromer's profile pic as the image! http://amiaopensource.github.io/ffmprovisr/#image-audio

[2017-01-17 18:36] kieranjol commented on #255
@ablwr haha I am 100℅  going to do that! Anyhow, @dericed  thanks for assigning this, I'd have understood if it was outside of the projects scope.

[2017-01-17 18:37] ablwr commented on #255
I would like to see only-audio implemented in QCTools. 😇

[2017-01-17 18:38] dericed commented on #255
Now that we have astats with metadata and more A->V filters in ffmpeg, it seems more reasonable to use QCTools for audio. Can't wait for the ARSC list discussions on QCTools.

[2017-01-17 19:02] kieranjol commented on #255
👍 ❤️

[2017-01-20 00:21] ablwr commented on #255
@dericed If someone can indicate where these conditionals-to-be will generally live, I can attempt to incorporate them.

[2017-01-20 18:01] kieranjol opened #257 "VREP graph view can be skewed by false positive"
I couldn't think of a better issue title :(
Anyhow, The VREP graph did an excellent job catching some errors ina BetaSP tape (film source) that was played back in a digibeta deck. The values were 0.0032. However, you couldn't see these spikes any more as there were some still frames at the very end of the capture that registered a value of 1.0. I wouldn't have seen the early spikes if I had pre-ge

[2017-01-20 18:16] dericed commented on #257
@ElderOrb and I were discussing having contextual menus per graph so that the user could adjust the min/max of the y-axis or possibly switch between plotting log and lin. VREP is mostly only useful on analog source to show dropout compensation on TBCs, for digital tapes they are so clean that there should be lots of VREP (on color bars, titles, black, etc), even the example you showed might be a f

[2017-01-20 18:53] kieranjol commented on #257
That UI change would be useful.

The tape was analog, betasp.

As the digi beta deck was performing the analog
to digital conversion for the betasp tape, perhaps there was some
compensation happening? There is definitely some distortion present in
those two frames and it looks like it's of digital origin.

[2017-01-21 03:15] ablwr opened #260 "Documentation for signalserver integration"
We have some cool documentation and its about to get a big upgrade. But who will write the documentation for how to use signalserver with the qctools application?

[2017-01-21 04:31] bturkus commented on #260
I'd like to take a stab at some of that. Early next week, I swear.

Sent from my iPhone

[2017-01-21 12:55] dericed commented on #218
Closing for now as this seems resolved.  Re-open if needed.

[2017-01-21 12:55] #218 closed

[2017-01-21 13:48] kieranjol commented on #257
I think it was a false positive, you were right. My colleague Aoife took in the same tape on a BetaSP deck with a different capture card and the exact same thing appears, so it is most likely just on the source tape.

[2017-01-21 13:50] dericed commented on #257
Betacam should make some noise so I think all zeros for astats with analog audio is unlikely.

[2017-01-21 13:51] dericed opened #262 "add contributing.md"
Now that we have nice markdown docs, let's have a contributing doc that references the license and points out where documentation may be contributed to.

[2017-01-21 13:53] dericed opened #263 "review tables in markdown docs"
In HTML we had bordered html tables in a few places, the rendered markdown doesn't seem to show the table structure well but just shows the words piled up. A border isn't completely necessary but the meaning of the arrangement of data should be preserved. Maybe a +---+ style table in a code block or clearer alignment with spacing.

[2017-01-21 13:53] kieranjol commented on #257
I'm not following you - was that comment meant for a different thread? I have astats values here..

[2017-01-21 13:53] dericed opened #264 "review image placement in markdown"
When I render the markdown and view in qctools and change width of window, the image placement seems inconsistent, mix of inline, left, and center.

[2017-01-21 13:54] dericed commented on #257
Ha, yes sorry, mixing threads.

[2017-01-21 13:56] dericed commented on #257
I'm changing the title since the idea pertaining to the y-axis is important to consider, but this isn't exactly specific to VREP. Also this ticket is related to https://github.com/bavc/qctools/issues/29.

[2017-01-21 13:58] kieranjol commented on #257
👍

[2017-01-21 14:11] dericed commented on #236
Samples for this:
[code]

[2017-01-21 14:15] dericed commented on #223
Since the user may include a truncated xml in a batch of files to process, I'd rather that the workflow is not blocked by a popup warning to say that the xml is incomplete.

Perhaps the filename (in the graph view and in the list) could be in red and/or suffixed with ' ERROR' and have a tooltip that explains that the data is truncated.

[2017-01-21 14:15] dericed commented on #223
+1 for progress indicators

[2017-01-21 14:16] dericed commented on #232
Closed by https://github.com/bavc/qctools/commit/a47fd147ae3d67f3bae71f7558d4f580de98117d

[2017-01-21 14:16] #232 closed

[2017-01-21 14:18] dericed commented on #127
@ElderOrb, samples in https://github.com/bavc/qctools/files/141513/Archive.zip

[2017-01-21 14:19] ablwr opened #265 "'Docs' and 'docs' need to be consolidated"

[2017-01-21 14:20] dericed commented on #212
@kieranjol so the behavior should be?

- drag in a directory
- qctools descends directory to find all xml.gz files to open
- qctools descends directory to find all video (by what criteria?) to open
- qctools then omits the video which is already represented by a xml.gz

?

[2017-01-21 14:21] dericed commented on #219
closing though i may add another ticket to add stream and format data to the qctools report.

[2017-01-21 14:21] #219 closed

[2017-01-21 14:22] dericed commented on #197
I believe this is fixed. @kellyhaydon @benturkus, please re-open if you find any of these issues persist.

[2017-01-21 14:22] #197 closed

[2017-01-21 14:24] dericed commented on #215
To confirm, the contextual options per playback filter should reset to the last used settings when switching files. What about when a playback filter is set up in the left player and then on another file that same playback filter is loaded in the right player. Return to last used settings of either player or manage last used per side?

[2017-01-21 14:25] dericed commented on #90
Here's a sample for this `ffmpeg -f lavfi -i mandelbrot -f lavfi -i sine -pix_fmt yuv420p -t 10 -c:v ffv1 mandelbrot_sine.mov` although nearly any file with audio and video would exhibit the issue.

[2017-01-21 14:26] JeromeMartinez commented on #212
- drag in a directory
- qctools descends directory to find all files
   - pre-analysis by FFmpeg: if the file contains no audio or video stream, discard it
   - analysis: check sidecar xml.gz and so on, as it is done today

[2017-01-21 14:26] dericed commented on #120
Closing this. Fixed in https://github.com/bavc/qctools/commit/8d8b0a6ba7197a173bb6df920d0e4fef5501c925.

[2017-01-21 14:26] #120 closed

[2017-01-21 14:30] kieranjol commented on #212
Jerome's method is what I had in mind.

[2017-01-21 14:31] dericed commented on #212
FFmpeg pre-analysis needs a bit more precision, for example ffmpeg will report that a .txt file includes a video stream.

[2017-01-21 14:33] JeromeMartinez commented on #212
??? More precision on this example please, i.e. which .txt file includes a video streams, except video files renamed to .txt (and we want them)?

[2017-01-21 14:35] kieranjol commented on #212
[code]

[2017-01-21 14:40] JeromeMartinez commented on #212
This is, hum, weird and not really an expected behavior...
if the file contains no audio or video stream, or if input format is "tty", discard it

Any other weird thing like that?
I suggest we start with that, then we adapt the "blacklist" to what users meet.

[2017-01-21 17:30] #255 closed

[2017-01-22 15:04] ablwr commented on #265
We still mysteriously have both Docs and docs checked into version control, even though my filesystem (macOS) can only read one of them. Things are functioning normally, but this is a weird bug that must be handled delicately!

[2017-01-22 17:00] retokromer commented on #265
I don’t know what exactly the issue is. However, on macOS usually you cannot change directly a filename from `Docs` to `docs`, but you need an additional stupid step like `Docs` > `Ddocs` > `docs`, because their file handling is weird.

[2017-01-22 17:03] ablwr commented on #265
@retokromer Yeah, I just did that and had to actually push the temporary-docs-folder to master because of the hiccups between my macOS and Github. I THINK IT'S FINALLY RESOLVED but I'm making sure qctools builds happily again. 😅

[2017-01-22 17:05] ablwr commented on #265
I did that above step locally but at the same time, another branch was merged with the old Docs identified with the capitalization... so then we had a real "attack of the cloned directories" situation on our hands!

FWIW I had to rename Docs to docs so that we could use gh-pages on the docs folder (would not work with capital-D Docs).

[2017-01-22 17:14] ablwr commented on #265
For people who might stumble upon this weirdness, the default (at least for me, macOS and git version 2.5+) is for `git config core.ignorecase true` but you can see the difference between what .git thinks is what by turning that off -- `git config core.ignorecase false`. But when things are resolved, you probably want to turn it back on again or the ghost-files will haunt you. 👻

This bug was more

[2017-01-22 17:58] retokromer commented on #265
We are still using Base64 or actually Radix-64. No joke!

[2017-01-23 00:21] dericed commented on #265
@ablwr resolved?

[2017-01-23 00:21] ablwr commented on #265
Yeah! Unless someone proves otherwise.

[2017-01-23 00:21] #265 closed

[2017-01-23 00:45] kellyhaydon opened #274 "bad link to qctools document in readme"
There's a bad link under "reading a qctools document" in readme.md. I'm not sure what is supposed to be there:

Error: Cannot load file https://raw.githubusercontent.com/bavc/qctools/master/Source/Resource/Help/Data%20Format/Data%20Format.html

[2017-01-23 00:49] ablwr commented on #274
Now it is http://bavc.github.io/qctools/data_format.html

[2017-01-23 09:35] #274 closed

[2017-01-23 23:36] #262 closed

[2017-01-25 14:53] ElderOrb commented on #223
I believe unzipping / processing progress is already visible in the 'Processed' column and in the status bar, so not sure what else can be done (besides progress dialog).

But as for the writting / zipping progress, this is bigger topic for discussion... From one side currently exporting is being handled by UI thread, which means it should be possible to add simple progress dialog. But from the ot

[2017-01-25 14:56] ElderOrb commented on #212
Should we allow to abort mass import of huge amount of files? (User occasionally dragged huge directory with thousands of files) ?

[2017-01-25 14:59] dericed commented on #212
Sounds like an accurate prediction of what the next filed issue will be.

[2017-01-25 15:53] ElderOrb commented on #215
1. Should saving / loading happen automatically (on application close / open) or be triggered by user action?
2. Do you need 'reset to default' button / command line parameter ?

[2017-01-25 21:53] dericed opened #276 "add stream and format details to qctools report"
This is a sequel issue to https://github.com/bavc/qctools/issues/219.

I propose that we add stream and format data to the qctools xml.

Example file: `ffmpeg -f lavfi -i testsrc -f lavfi -i sine -c:v ffv1 -c:a flac -t 1 sample.mkv` should add

[code]
before the `<frames>`.

[2017-01-27 14:28] kieranjol opened #277 "QCTools freezes when scrubbing during playback in filter view"
I'm using the latest daily build for El Capitan.

When playing back the video in the filter view, QCTools always freezes when I scrub on the timeline. I usually just force quit at that point. I'll leave QCTools open and see if it ever recovers from the freeze. It does not crash when I scrub while the video is paused. It doesn't seem to matter if the graphs are still generating or not. Even if the

[2017-01-28 14:50] kieranjol commented on #277
https://github.com/bavc/qctools/pull/278 Fixed here, thanks @ElderOrb !!!

[2017-01-28 14:50] #277 closed

[2017-01-28 14:56] kieranjol opened #279 "Filter view - splitting by field not working for vectorscope"
If I select the 'field' checkbox when using the Vectorscope filter, it looks like it just reverts to Normal View an the Vectorscope disappears.

[2017-01-28 15:06] dericed commented on #279
what pixel format?

[2017-01-28 15:29] kieranjol commented on #279
yuv422p10le , FFV1 level 3 in matroska.

[2017-01-30 12:16] dericed opened #280 "qctools cli"
qctools cli to generate qctools reports and/or upload reports to signalserver.
Can share preferences with the gui or allow cli options to override preferences with custom preferences.

[2017-01-30 14:08] kieranjol commented on #280
This would be a really welcome addition. Users wouldn't have to worry about keeping their commands up to date for pre-generating QCTools reports.

[2017-01-30 18:16] bturkus commented on #280
+1

[2017-01-30 18:21] dericed commented on #280
@kieranjol that's the idea. Also currently since the ffprobe version requires the movie filter if you add `-show_streams -show_format` you get data from the output of the movie filter, but with the qctools cli it should be able to give stream and format data about the source as well as frame data from the filter outputs.

[2017-01-30 18:21] dericed commented on #280
related to https://github.com/bavc/qctools/issues/276

[2017-02-07 12:26] ElderOrb commented on #280
Just to clarify, are we talking here about just introducing command line parameters for existing GUI application or about introducing 'console mode' (with console UI?) ?

How is it planned to use this functionality? If for batch processing / integration with scripts / 3rdparty tools, then seems like console mode is required.

[2017-02-12 22:49] dericed commented on #276
resolved in https://github.com/bavc/qctools/pull/282

[2017-02-12 22:49] #276 closed

[2017-02-12 22:57] dericed commented on #227
resolved in https://github.com/bavc/qctools/commit/7eb854adf5c2afef850f2ff665fd3d436e439c99. Thanks @ElderOrb

[2017-02-12 22:57] #227 closed

[2017-02-12 23:18] #279 closed

[2017-02-12 23:44] kieranjol commented on #279
Thx, looking forward to trying it out.

[2017-02-17 13:57] kieranjol commented on #279
Thanks, works great!

[2017-02-26 00:22] dericed commented on #280
After testing the branch, some suggestions:

- do not overwrite the output by default, just skip.
- use `-y` to force overwriting the output.
- add warning, if the option for `-o` does not end in `.xml.gz`
- add a usage dialog to show if qctools-cli is run with no arguments, or as `./qctools-cli -h`

draft usage dialog (ping to @kellyhaydon, @ablwr, @kieranjol for comments)
[code]

- add an error

[2017-02-26 00:38] kieranjol commented on #280
+1 on the `-h` help. I won't be able to test again until tomorrow, but I did try `./qctools-cli -i file.mov`  earlier today and I ended up getting what seemed like signalserver errors. I was trying this at work where I can't access the AWS server. I will give a proper console output tomorrow, but I'm just curious to know if signalserver setup/access is currently required even if you just want an x

[2017-02-26 12:29] kieranjol commented on #280
Ok, so I was getting the `no file name specified error`. Here's the error I get when I run qctools-cli:

[code]
Sometimes I don't get the 'file not uploaded' error, but I get all the other errors regardless.

I'm using El Capitan, and in case you need it:
[code]
I get the feeling that it's all taking a lot longer than it needs to as well.

[2017-02-26 12:33] kieranjol commented on #280
It would also be great if something other than `parsing` was the status update. Perhaps, `Generating QCTools XMl report` or something more descriptive? Also a progress bar would be amazing - especially for large files. When the xml.gz has finished exporting, it could be useful to tell the user the full path of where the output was generated, just in case they don't pick up that it's a sidecar.
In

[2017-02-27 22:36] ElderOrb commented on #280
@dericed and @kieranjol  thank you for all the feedback!

With regards to the help dialog and '$version, $copyright-summary'. This requires some interaction with build system so I need some help from @JeromeMartinez

As for the 'parsing' status, I agree this is not the best word. What about 'analyzing' ? In current implementation xml report gets generated in two steps:

1. Parsing video file, extr

[2017-02-27 23:21] ElderOrb commented on #280
.. forgot to mention, that I disabled auto upload to signal server because for cli tool probably it is not required by default. What command line parameters would you like to get with regards to signalserver? Something like 'upload if not exists' and 'force upload' ?

[2017-02-27 23:35] kieranjol commented on #280
Hi @ElderOrb - The two-step description (analysing/generating) sounds good to me.

As for the jpegs, I hope that I'm not derailing things here. I think that having graphs and thumbnails load instantly would make qctools so much easier to use. Would it be possible to embed the jpegs in the gzip file? I don't see a need for changing jpeg size as whatever the default is for qctools-gui should be fine

[2017-02-28 00:32] dericed opened #289 "support mkv reporting format with xml and thumbnails"
Moving @kieranjol's suggestions from https://github.com/bavc/qctools/issues/280#issuecomment-282893010 to a new thread.

Support an output format that uses:
- one V_MJPEG track with thumbnails generated according to qctools' settings
- one application/x-gzip attachment storing the qctools report

Can dump the attachments from mkv with `ffmpeg -dump_attachment:t "" -i qctools.mkv`.

Can emulate a b

[2017-02-28 00:35] dericed commented on #280
rename of qctools-cli to `qcli` as proposed @ https://twitter.com/andrewjbtw/status/836369926336081924

[2017-02-28 00:47] kieranjol commented on #289
I think this could work really well. As for the chapters, the thumbmail report.mkv could have markers for things like illegal saturation spikes? That would be really great. I'd thought of a somewhat similar feature within qctools https://github.com/bavc/qctools/issues/82 but this would pretty much perform a similar function.

[2017-02-28 10:07] JeromeMartinez commented on #280
we don't have any summary as far as I know.
For version and year, I don't see a placeholder in C++ accessible code, so put it somewhere as a constant string then ping @g-maxime he will add your line of code in the list of changes we do by script when we change the version number.

[2017-03-01 10:19] ElderOrb commented on #280
@JeromeMartinez and @g-maxime : I've added header file version.h which can be overwritten by build system to present actual version information. Please let me know if you get any issues.

@dericed : as @JeromeMartinez mentioned, there is no any copyright summary at the moment. Should I just remove it from help dialog for now?

[2017-03-03 17:46] ElderOrb commented on #280
What kind of signalserver-related functionality would you expect from cli?

At the moment I see it as 3 extra options:

-u - upload to signal server if not exists
-uf - force upload (even if file already exists)
-c - check if uploaded (not sure this is needed, but still)

Any other scenarios ?

[2017-03-09 10:26] ElderOrb commented on #280
Any comments/feedback on signalserver-related options?

[2017-03-12 11:59] ElderOrb commented on #280
added -f option allowing to override filters set, like this:

qcli -f signalstats;aphasemeter

[2017-03-14 19:23] dericed opened #291 "support showing logs in the graph view"
ffprobe may soon (patch approval pending) support showing decoder logging data in ffprobe. This could allow qctools to show logging data from encodings that contain damage or cause decoding errors. The ffprobe data would show the logged message(s) as a sub-element of <frame> such as:

[code]

Each log message can be associated to the timestamp of the parent <frame>.

The graph style used in QCTool

[2017-03-14 19:53] kieranjol commented on #291
I think it is a great idea, not sure how the graphs would look exactly -
would it always show a spike for each error? I could see it being useful
for formats such as FFV1 which can declare fixity mismatches.
I'm sure dvanalyser is a better tool for DV, but ffmpeg shows pretty good
error reporting for DV and having that show up as well would be nice.
On a side note, I've never encountered those ac

[2017-03-14 19:57] dericed commented on #291
Adding an example of frame logging with an FFV1 CRC error:

https://gist.github.com/dericed/a405df45a3b4a7fc7962e5cf1a1ef329

[2017-03-14 20:01] JeromeMartinez commented on #291
XML is also created manually in QCTools, don't forget to update this part of the code (maybe there is a method for directly getting the XML form with FFmpeg API? would permit to trash the creation of hte XML in QCTools in case the XML is creating by QCTools instad of FFmpeg command line)

[2017-03-15 19:32] ElderOrb commented on #236
Not reproducible for me using the latest master

[2017-03-15 20:09] dericed commented on #236
closing the issue soon, unless @kieranjol objects

[2017-03-19 21:40] dericed opened #292 "flexibility with signalserver url"
When copy/pasting from a browser url bar into qctools, it leaves a trailing slash on the signalserver url. QCTools then fails to connect to signalserver only because of the trailing slash, I propose to detect and remove the trailing slash if it is the last character of the url.

[2017-03-19 22:00] ablwr opened #293 "Cannot add .xml.gz files in "open" dialogue"
When I try to add an already-created qctools file to qctools, it doesn't work.

To replicate:

Open files > Navigate to .xml.qz > select Statistic Files from the dropdown > Cannot select a file!

Select all files from the dropdown > Select a xml.gz > QCTools crashes!

When I unzip a qctools.xml.gz file, it qualifies as a "statistic file." However, it still crashes.

I tested this with the current

[2017-03-19 22:06] ablwr commented on #293
FWIW "Import" still works!

[2017-03-19 22:10] ElderOrb commented on #293
I think this is just lack of backward compatibility with older versions of qctools.xml.gz... Could you please try to produce new qctools.xml.gz and then try to open it? If it will work - then this is really about backward compatibility and in this case question to @dericed if it should be preserved.

[2017-03-19 22:11] ElderOrb commented on #293
Please also share file leading to crash.

[2017-03-19 22:12] ablwr commented on #293
Latest-build is much more reliable than the one downloadable on QCTools website right now (latest-release).

I am using these example files from Dave. https://archive.org/details/ExampleQctoolsReports

[2017-03-19 22:15] ablwr commented on #293
Oh, maybe the above reports from @dericed are newer than the latest release of qctools? The opposite of backwards compatibility!

[2017-03-19 22:17] dericed commented on #293
@ablwr can you link to a gist of the xml sample you are referring too. The xml is updated lately but it's mostly to add the stream/format data and a few frame attributes.

[2017-03-19 22:18] ablwr commented on #293
I'm using the first in the above archive.org link. It's very big!

[2017-03-19 22:18] dericed commented on #293
Hopefully the latest build on the qctools site is updated soon. The cli branch is about ready, then a review and hopefully the next version is out within a week.

[2017-03-19 22:18] dericed commented on #293
ok

[2017-03-19 22:20] ablwr commented on #293
The "first one" aka "APL00005_ffv1.qctools"

Okay, this isn't worth going into if we are gonna release the new one soon, but I have to show people how to use the old one tomorrow, hence using/testing the older edition. 😬 !

[2017-03-19 22:27] ElderOrb commented on #293
Try to take smaller file or use x64 bit build. Besides difference in format, this might be memory issue because this file is ~700 Mb in size (in unpacked state)

[2017-03-19 22:37] dericed commented on #293
On git-master the process is much better. Based on the original post:

This is a bug. When selecting "Statistic Files" then the .xml.gz in the Finder should be selectable, currently it is grayed out.

Works in git-master.

I suggest to rename the ticket to something like "Selecting 'Statistic Files' in the Open Files dialogue leaves the .xml.gz files grayed out."

[2017-03-19 22:49] ablwr commented on #293
In the latest build I have (which is not the most-latest), "open" doesn't have a select-type option so it should be opened up to include .xml.gz! I will change name.

[2017-03-21 21:35] kellyhaydon opened #295 "qcli directory isn't found"
I am in sync with the master, but when I run `./qcli -i file.mov `I get

[2017-03-21 21:58] dericed commented on #295
are you in the `qctools-cli` directory?

[2017-03-21 22:07] kellyhaydon commented on #295
I was in QtCreator - is it expected for the qctools-cli directory to not be visible in Finder?

[2017-03-21 23:06] ablwr commented on #295
It should be there. Did you build the newest QCTools first by going into QtCreator and running `export QCTOOLS_USE_BREW=true && qmake && make` and having it build successfully? Then it will create both folders within QtCreator.

[2017-03-21 23:11] ablwr commented on #295
For documentation sake, I had to add this variable to each of the .pro files in the subdirectories of QtCreator -> `QMAKE_MAC_SDK = macosx10.12`, because I am on Sierra and have recently upgraded.

`ls /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/"` tells which version of Xcode is currently installed.

[2017-03-21 23:12] ablwr commented on #295
After a successful build and `cd qctools-cli` I can attest to `./qcli` working for me. Kelly let me know if you need more help!

[2017-03-21 23:16] kellyhaydon commented on #295
I think I have a successful build, just curious why I do not see the qctools-cli directory in Finder (I see it in Terminal).

<img width="254" alt="screen shot 2017-03-21 at 4 15 56 pm" src="https://cloud.githubusercontent.com/assets/9436241/24175116/b3c31846-0e51-11e7-9734-2e0ff52965d7.png">

[2017-03-21 23:17] ablwr commented on #295
You should definitely see a BUNNNNCHHHHH OF JUNK. Try building again using the above command!

[2017-03-21 23:27] dericed commented on #295
Based on the Finder image, `qmake` was not run, since that would create the `Makefile`.
Can you share the terminal output when you run `export QCTOOLS_USE_BREW=true && qmake && make` in the QtCreator directory?

[2017-03-21 23:41] ablwr opened #296 "qcli --help and qcli --version"
qcli --help and qcli --version do indeed return the version and help because it returns the same information for anything passed in that is unexpected, but the script hangs up for a bit which makes me think its going through the full process of file analysis.

I would like to see qcli --help (alias -h) and qcli --version (alias -v) given dedicated content. That is, only the man page and only the v

[2017-03-22 00:31] kellyhaydon commented on #295
102641-MacBook-Pro-Kelly:QtCreator kelly$ export QCTOOLS_USE_BREW=true &&
qmake && make

Info: creating stash file /qctools/Project/QtCreator/.qmake.stash

/usr/local/Cellar/qt5/5.8.0_1/mkspecs/features/mac/sdk.prf:17: Cannot write
cache file /qctools/Project/QtCreator/.qmake.stash: Permission denied

Info: creating stash file /qctools/Project/QtCreator/.qmake.stash

/usr/local/Cellar/qt5/5.8.0_1/

[2017-03-22 00:32] dericed commented on #295
what do you get with `qmake -v`?

[2017-03-22 00:32] ablwr commented on #295
I don't know what kind of setup you have over there but why don't you have permissions? You could run this as `sudo` if feeling desperate...

[2017-03-22 00:33] kellyhaydon commented on #295
102641-MacBook-Pro-Kelly:QtCreator kelly$ qmake -v
QMake version 3.1
Using Qt version 5.8.0 in /usr/local/Cellar/qt5/5.8.0_1/lib

[2017-03-22 00:33] dericed commented on #295
oh, did you checkout the repo at `/`?

[2017-03-22 00:34] ablwr commented on #295
Ahhhhhh +1 @dericed path skillz

[2017-03-22 00:34] dericed commented on #295
`pwd`?

[2017-03-22 00:35] kellyhaydon commented on #295
@dericed - loseruser fails to compute

[2017-03-22 00:35] dericed commented on #295
I suggest not running `sudo`, but checking out the repo within your own home directory.